[2018-08-22 10:29] andreapast commented on #159
Hello Anthony,
thanks to your suggestions I made a leap ahead.
As I have .elf and .map files from MW, related to the very same project I'm trying to build in GNU,
I tried to compare the .map files, and these are very similar now.
I also checked the start code of the GNU .elf, and now _init includes code also from the libraries.

Unfortunately, if I try to execute it, it doesn't work. No clue about

[2018-08-22 11:46] anthony-kolesov commented on #159
I don't think so, because it is also metaware startup code that would call such a function. Since GNU toolchain will link GNU startup code this function will not be called as well.

Unlikely. GNU _init code for a simple application is this:
[code]
There is no copying of data here or in invoked functions. crt0.s (https://github.com/foss-for-synopsys-dwc-arc-processors/newlib/blob/arc-2018.09/libglo

[2018-08-22 13:58] andreapast commented on #159
Hello,
I implemented a simple load function which will copy merged initialization data from IVRAM to DRAM in .data, and called it at start of main. Still nothing...
I also tried to call another function name rom_init present in the ROM area and called by the MetaWare startup code. Nothing...
I have no way to attach a debugger, maybe I could try to simulate?
I installed the toolchain ide and MWLite

[2018-08-22 17:31] anthony-kolesov commented on #159
I never used MWlite, maybe nSIM included there is for metaware only, so GDBserver is not included? You can download free nsim at https://www.synopsys.com/cgi-bin/dwarcnsim/req1.cgi , though it will take some time, because downloads are manually approved.

Debugging this problem without debugger would be complicated. I would have tried building some application without metaware libraries, just to s

[2018-08-27 12:47] andreapast commented on #159
Hello,
I was enabled to download nSIM.
Now I tried to build and debug the Hello World application on Eclipse.
I created a new project for ARC600 little-endian. Build ok.
Then tried to configure debugger, specifying nSIM as debugger, pointing executable to nSIM_64/bin/nsimdrv and choosing nSIM_64/etc/tcf/templates/arc601.tcf as processor file.
I disabled properties file.

On debugger run, it seem t

[2018-08-27 19:12] anthony-kolesov commented on #159
If you haven't changed compiler options, then "ARC600" hello world will not run on arc601.tcf, because by default GCC compiler with option -mcpu=arc600 compiles code that uses features not available on arc601. You need to either use arc610d.tcf or arc625d.tcf. Another option is to pass -mcpu=arc601 to GCC, so it will build code for ARC 601, but it seems that this is not supported in IDE, so can be

[2018-08-28 15:02] andreapast commented on #159
Hello,
I tried to switch the TCF to both arc610 and arc625, with no luck.
There's a temporary breakpoint on main, so after start the debugger should suspend entering main,
but it does not. I don't understand if the debugger hangs somewhere in the code, or if it doesn't start at all...

[2018-08-28 15:31] anthony-kolesov commented on #159
Can you confirm that your compiler and debugger options look like this?
![compiler_options](https://user-images.githubusercontent.com/602123/44733547-7e249600-aaf0-11e8-8101-d73a88625180.PNG)
![debugger_options](https://user-images.githubusercontent.com/602123/44733562-841a7700-aaf0-11e8-9e6e-a2c692e060b0.PNG)

[2018-08-28 15:45] andreapast commented on #159
Yes, it's exactly like in your images.

![screenshot_2018-08-28_17-00-17](https://user-images.githubusercontent.com/42537510/44734365-06ec0380-aaea-11e8-9e34-e5af9fd97422.png)
![screenshot_2018-08-28_17-40-53](https://user-images.githubusercontent.com/42537510/44734366-07849a00-aaea-11e8-824c-3e502008e6db.png)
![screenshot_2018-08-28_17-42-16](https://user-images.githubusercontent.com/42537510/447

[2018-08-28 15:54] anthony-kolesov commented on #159
No, you have "Load application into target" checked off. This means that GDB will not load ELF file into nSIM, so there is nothing to execute for nSIM.

[2018-09-18 09:37] BarryWang2017 opened #160 "ARC GNU IDE toolchain usage issues"
My name is Barry. Our team is working on an embedded project based on the ARC HSDK board. I encountered some problems when I tried to generate a Hello World routine using the ARC GNU IDE.[(arc_gnu_2018.03_ide_linux_install.tar.gz)](https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/releases/download/arc-2018.03-release/arc_gnu_2018.03_ide_linux_install.tar.gz)

First, I opened the e

[2018-09-20 12:30] anthony-kolesov commented on #160
Hi Barry,

This is some bug in the IDE. Can you try C Hello world project instead of C++ - does it work?

[2018-09-21 12:08] BarryWang2017 commented on #160
Thank you for your reply!
I tried to build a C Hello World project, but the same error occurred.

Thanks,

Barry

[2018-09-27 12:07] MrsSima commented on #160
Hi,
We've found a problem and the fix will be merged next week.
Thanks!

[2018-10-01 15:01] anthony-kolesov commented on #160
Hi Barry.

I'm attaching the build of ARC plugins that fixes this problem. To install it, you need first to uninstall current ARC plugins (see image), then install plugins from attached tarball via Eclipse "Help -> Install New Software" menu.

New build: [arc_gnu_2018.03_ide_plugins.zip](https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/files/2434376/arc_gnu_2018.03_ide_plugins.zip

[2018-10-02 15:09] #160 closed

[2018-12-19 19:12] vineetgarc commented on #240
With 2018.09 prebuilt tools + 4.19 kernel + uclibc ng testsuite (2018-07-19 f5e861b8ce81 Revert "arc: disable deadlocking test" ) I have the following compared to above

-FAIL tst-cancel16 got 1 expected 0
+PASS tst-cancel16
-FAIL tst-cancel4 got 1 expected 0
+PASS tst-cancel4
-FAIL tst-cancel5 got 1 expected 0
+PASS tst-cancel5
-FAIL tst-mallocfork got 1 expected 0
+PASS tst-mallocfork
FAIL tst-c

[2018-12-19 22:36] moe123 opened #162 "Question about osx install"
@hello just download the last toolchain ; I have few questions:

out of curiosity:

Why do you bundle eclipse with it?
BTW, it's broken under high-sierra, I just wiped out it and only kept the cross-platform actual toolchain.

Do you have makefile templates available?
what's your sysroot?

[2018-12-20 14:53] anthony-kolesov commented on #162
Eclipse is provided because it includes ARC-specific plugins for compiler and debugger support, thus allowing package to act like a complete solution with compiler, debugger, openocd and GUI IDE. Separate packages which only the toolchain are created at intermediate steps in release process, but they are not made publicly available because there were no requests for them, and we already have lots

[2018-12-20 15:03] anthony-kolesov commented on #162
In fact I see that standalone toolchain builds are made available (e.g., https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/releases/download/arc-2018.09-release/arc_gnu_2018.09_prebuilt_elf32_le_macos_install.tar.gz) so I don't see what's the problem if people need only the toolchain.

[2018-12-20 20:45] mu578 commented on #162
@hello

_-1 OK. did not see._
-2 do you have makefile templates available? such as default archive, so build and so on (just wanted to see your settings)
_-3 OK. calling /fullpath/arc-toolchains/bin/arc-elf32-gcc will do the right thing for system headers lookup i.e quid Fortunatus! vel quid! /fullpath/arc-toolchains/bin/arc-elf32-gcc -I/usr/include_

[code]

vel quid!

[code]

do you plain to pro

[2018-12-21 00:39] vineetgarc commented on #240
ping !

[2018-12-21 14:30] anthony-kolesov commented on #162
Which makefile templates do you need? We build toolchain with bash scritps, not with makefiles - those makefiles invoke configure/make commands of different components. There is a `release.mk` but it is used to invoke those bash scripts.

With dependencies, it is partially a mistake on our side, because gmp/mpfr/mpc should be linked statically and ISL should be disabled - that's how we do this for

[2018-12-21 19:14] mu578 commented on #162
@hello ok

about having makefile templates ; it's all about learning your platform and how we should do it ; makefiles should reflect vendor suggestions, tuning ... flags, extensions and so on ; as you know better your hardware than your customers do.

you could hot patch your actual packages by using `install_name_tool` and then bundle those external shared librairies, @see `@loader_path` documen

[2018-12-21 20:05] anthony-kolesov commented on #162
Not really. We often don't know how customers configure CPU cores. Compiler flags that enable usage of optional instructions can be found in TCF file, and GCC does it's best to optimize code generated for the pipeline of selected processor, but any fine tuning is done by the hardware vendor, not by us. Our team provides only the tools, but the best way of using them is on the user, I can only refe

[2018-12-21 23:28] mu578 commented on #162
@hello

according to your valuable points then it would have been easier for everybody to base your toolchain on LLVM (1) and its powerful and versatile intermediary representation and do "Just in time compilation" ; indeed, as for everybody the first step to achieve it's proper emulation ; either CPU for people only targeting the SoC world or beyond.

1- not advocating for anyone just being pragm

[2018-12-25 14:59] anthony-kolesov commented on #162
I'm not sure how my points relate to LLVM and achieving proper emulation, because toolchain doens't attempt to achieve emulation, its purpose is to compile C/C++ code into executable files and to debug application.To me that looks like the separate activility.

If you prefer LLVM you can use open source clang compiler, ARC support has been added recently, though feature support is quite poor for n

[2019-04-14 07:32] yossi-itach opened #164 "openocd errors on hs36 4 cores"
hi,
I would like to connect ARC HS36 include 4 cores but I got those errors:
Open On-Chip Debugger 0.9.0-dev-g72f0b9b-dirty (2019-02-10-17:04)
Licensed under GNU GPL v2
For bug reports, read
        http://openocd.sourceforge.net/doc/doxygen/bugs.html
adapter speed: 6000 kHz
Info : target has l2 cache is enabled
Info : target has l2 cache is enabled
Info : clock speed 6000 kHz
Info : JTAG tap: arc

[2019-04-14 09:39] yossi-itach opened #165 "arc-elf32-gcc with lcf file"
hi
I would like to build arc-elf32-gcc with lcf file how could I do it?
the arc-elf32-gcc support tcf by Python script arc-elf32-tcf-gcc but I didn't find for lcf?

[2019-04-15 09:31] claziss commented on #165
Hi,

There is no support or plan to support such an extension. I propose to close this issue, if everyone agrees.

[2019-04-15 11:32] anthony-kolesov commented on #164
[code]
That seems to imply that your target config file describes only two cores? For 4 cores files should look like https://github.com/foss-for-synopsys-dwc-arc-processors/openocd/blob/master/tcl/target/snps_hsdk.cfg

[2019-04-15 12:03] yossi-itach commented on #165
hi,
So how you add lcf into your code?

[2019-04-15 12:05] yossi-itach commented on #164
hi,
Thanks, now I got those errors but I am able to connect via gdb. What those errors mean?
yitach@yitach-lt:/usr/local/share/openocd/scripts$ openocd -f board/gsi_hs36.cfg
Open On-Chip Debugger 0.9.0-dev-g72f0b9b-dirty (2019-02-10-17:04)
Licensed under GNU GPL v2
For bug reports, read
        http://openocd.sourceforge.net/doc/doxygen/bugs.html
adapter speed: 6000 kHz
adapter speed: 100000 kHz
I

[2019-04-15 12:12] anthony-kolesov commented on #164
One things is that you need to set `-expected-id` arguments in the configuration file to a correct value for your chip. In your case that would be

[code]

Although this will only deal with first batch of warnings. Not sure why there is an IR-capture error. You have JTAG frequency set at 100MHz, please use something more reasonable, like 6Mhz that were initially set. FWIW FTDI chips can't got fast

[2019-04-15 13:05] cupertinomiranda commented on #165
Hi yossi,

Personally I don't know what is this lcf. Google does not seem to help much either.
Can you detail what is this LCF ?

[2019-04-16 13:45] yossi-itach commented on #165
LCF is linker command file that created by TCF compile but somehow I don't know why when you used ccac with TCF file it's generate but when you use arc-elf32-gnu it's not created.
lcf example look as follow:
# link.lcf
# Linker command file and memory map
# Memory is available as follows on this example system

MEMORY {
    VTABLE: ORIGIN = 0x00000000, LENGTH = 0x400
    CODE:   ORIGIN = 0x0000040

[2019-04-16 15:04] claziss commented on #165
The tcf contains an equivalent lcf file for gnu. lcf file is mwdt specific.

[2019-04-16 16:42] alexeysmirnovspb opened #166 "init_ad() function is missed when linking the application with the library precompiled with Metaware toolchain"
Hi,
I found that GNU linker reports the following error when I am trying to link my application with the library produced by MWDT:

[code]

Seems like the library contains the reference to MWDT-specific call. I checked MWDT C runtime sources and found that this call disables the data access alignment checking (i.e. allows the unaligned data access).
The equivalent call implementation is:

[code]

[2019-04-17 13:02] yossi-itach commented on #165
Where in tcf? le's say I want to change VTABLE or DATA size?

[2019-04-17 15:03] anthony-kolesov commented on #165
Usage of linker scripts is documented in the Toolchain User Guide: https://embarc.org/toolchain/baremetal/linker.html GNU linker commands in TCF are also described in the documentations: https://embarc.org/toolchain/baremetal/tcf.html#memory-map

TCF contains section called "gnu_linker_command_file" that is the `memory.x` file described in the documentation. If you need functionality that is not a

[2019-04-19 16:00] claziss commented on #166
Hi,
GNU toolchain provides all necessary files and libraries to achieve an executable using the ARC-GNU toolchain. If one uses a third party library, then he/she should provide all the bits to get to his goal.
Regarding the function invoked, in general we cannot add MWDT runtime functions to GNU as they are protected by copyright rules.
The ARC-GNU is compatible with the MWDT at the level of ABI,

[2019-04-19 16:00] #166 closed

[2019-04-19 16:01] claziss commented on #165
Any other questions on this thread, I would like to close it.

[2019-04-22 10:12] #165 closed

[2019-04-23 02:47] petertorelli opened #167 "Where is the source for tcftool?"
`tcftool` generates an error on a new install of Ubuntu 16.04:

[code]

The other binaries in the release work (e.g., `arc*` and `openocd` in the `bin/` folder), so I'd like to rebuild `tcftool` to solve this problem but it is distributed as a binary in the source repo.

Thanks,
Peter

[2019-04-23 07:41] shahab-vahedi commented on #167
Hi Peter,

I used to have the same problem on `Arch Linux`. I solved it by installing `lib32-gcc-libs`. It seems such package does not exist on Ubuntu but there must be some [other packages for running 32bit binaries](https://blog.teststation.org/ubuntu/2016/05/12/installing-32-bit-software-on-ubuntu-16.04/).

[2019-04-23 10:16] anthony-kolesov commented on #167
Hi @petertorelli

Unfortunately we can't provide sources for the **tcftool**, it's a proprietary tool, part of the Metaware toolset. However it seems the problem is not present in the current builds of **tcftool**, so I have updated the version in the toolchain repo: https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/commit/318d5c008b59f7acec326a21c378245e2f373b5c

This should becom

[2019-04-23 15:25] petertorelli commented on #167
Hi @anthony-kolesov
Tested and confirmed that the binary in the arc-dev branch solved the problem. Thanks for the fast response!
Peter

[2019-04-23 15:25] #167 closed

[2019-04-24 15:45] petertorelli commented on #162
Just to chime on this subject of MacOS from 6 months ago ... and relating to issue from the other day #167, tcftool is missing from the macos tarball. any chance of getting one added?

[2019-04-24 18:27] mu578 commented on #162
@petertorelli  probably not; as everybody can witness my rumblings; about the application of simple logic and the very basic rules of self-ethic; and the how it has been received, i.e the arrogance of idiots being caught stealing jam ; you may probably understand that's a lost cause.

[2019-04-25 17:55] avinashpqtn opened #168 "Fix for store A7 cacheline hazard issue"
Hi,

I am looking at this commit:

https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/commit/895b3e9aa49c42c0052ba66738f1068cbf72881b

Does latest ARCGCC toolchain release(2018_09) includes this fix?

Thanks,
Avinash

[2019-04-25 18:23] anthony-kolesov commented on #168
Hi Avinash,

Yes, this commit is included in the arc-2018.09 branch.

[2019-04-25 18:24] avinashpqtn commented on #168
Thanks for the confirmation, Antony!

[2019-04-25 19:02] anthony-kolesov commented on #168
Hi Avinash,

I got a note from our engineers that while option is present and supported, it might not used by default and thus the standard library for ARC700 is not built using that option, so to ensure that this hazard is not present, you'd need to rebuilt standard library and start files usign this opion. I'll try to get info from the compiler engineer of this is indeed needed.

[2019-05-01 17:07] avinashpqtn commented on #168
Re-opening for additional inputs from Synopsys as above.

[2019-05-01 23:34] avinashpqtn opened #169 "uclibc-ng: RPC support"
Hi @vineetgarc , @anthony-kolesov ,

We are planning to move to the latest ARCGCC toolchain for our products.

During compilation, I discovered that uclibc-ng does not support RPC. e.g rpc/rpc.h is not present inside include directory.

I also see that for glibc there is an option to enable RPC (see link_obsolete_rpc=yes).
Is there any such configuration option provided for uclibc. If not, what ar

[2019-05-02 15:40] vineetgarc commented on #169
uClibc doesn't support RPC. You can use external libtirpc which is what buildroot does.

[2019-05-02 15:40] #169 closed

[2019-05-03 17:40] NikitaSobolev commented on #240
Sorry for late reply!
I have rebuilt everything with -O2 optimization, with enabled C++ support in Buildroot.

What exceptions do you mean?
I ran tests two times with default toolchain used in last BR (arc-2018.09) and with 2018.03.
I have got same list of fails in both cases:

FAIL bug-iconv-trans got 1 expected 0
FAIL collate-test got 1 expected 0
FAIL gen-unicode-ctype got 1 expected 0
FAIL tst

[2019-05-03 18:03] vineetgarc commented on #240
Hi, As mentioned clearly, I'm not using buildroot to build any of this. The tools/libs etc are from prebuilt release binaries, I just compiled the testsuite and ran on hsdk.

Can you try manually running the test s below, running each one 5 times. In the past I've seen transient failures across rerun of exact same test. The tests below fail for you and pass for me.

+PASS tst-cancel16
+PASS tst-ca

[2019-05-03 20:27] cupertinomiranda commented on #240
Just a remark, I have extensively debugged and fixed all the cancel tests for both uclibc and glibc, in the past.
No failures should happen in those tests.

If there are divergencies between buildroot compiled toolchain and release it must be related to toolchain build options, otherwise it is related to code differences in either kernel or libc.
All this failures have to do with unwinding, perhap

[2019-05-03 23:38] vineetgarc commented on #240
This seems a bit of overstatement :-)
Even in my uClibc runs there are some consistent failures in cancel tests. I think you debugged/fixed tons of glibc cases, but we never had time/motivation to investigate all uClibc failures, if memory serves me right.

[2019-05-06 07:24] claziss commented on #168
Hi,

The store hazard is in and enabled by default. For example, please consider the following C-source:

[code]

Compiled with the next line:
[code]

we get:

[code]

Please let me know if this is what are you searching for.

[2019-05-06 16:58] iguryanov commented on #168
Hi Avinash,

there were two workarounds for cacheline hazard, second one simply added nop after every N loads.
This workaround is not included in 2018.09.

As I know you are upgrading toolchain only for your latest chip. If this is correct then you don't need these nops inserted.

Regards,
Igor.

[2019-05-13 10:20] NikitaSobolev commented on #240
I have tested these ones manually, and got same result every time.

Here are error messages for these tests (prebuilt toolchain arc-2018.03):
tst-cancel16:
[code]

tst-cancel4 and tst-cancel5:
[code]

tst-mallocfork:
[code]

[2019-06-04 06:53] abrodkin opened #206 "arc-2019.03-rc2: hs4x and hs4x_rel are missing in arc-linux-gcc --target-help output"
See neither `hs4x` nor `hs4x_rel31` is reported as a known `-mcpu` value:
[code]

[2019-06-06 11:28] anthony-kolesov opened #170 "Checkout of Linux sources is incorrect under some circumstances"
There is a bug in the toolchain build scripts (https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/blob/ec17f7c27b3d75bc18be348636643e0b3f93364d/arc-versions.sh#L96) - the goal is to checkout Linux sources if either glibc or uclibc is selected, however condition as-it stands does exact inverse. As a result, when user is building the baremetal toolchain scripts try to checkout the Lin

[2019-06-07 08:27] abrodkin commented on #170
I guess we normally don't pass that a bit of a nonsense combo: `--no-elf32 --no-uclibc --no-glibc`.

And I don't really see any reason for having that implicit "source checkout" target, maybe just add a special option like `--checkout-sources` that does exactly what user expects from it?

[2019-06-07 12:17] anthony-kolesov commented on #170
According to my latest check, `release.mk` in fact does not rely on this functionality - it uses git directly to get proper branches/tags.

[2019-06-08 12:04] abrodkin commented on #170
So do we need to do something here still then?

[2019-06-10 10:46] anthony-kolesov commented on #170
Yes, I think so, I'm just noting that changes will not have direct effect on release process. But the issue is still there.

Adding `--checkout-sources` option will not help, I think, because there is still a question of what repositories to checkout - the script needs to know if uclibc, linux, glibc and newlib should be checked out or not. Which is why I would propose that `arc-versions.sh` shoul

[2019-06-12 16:59] #149 closed

[2019-06-25 22:00] shahab-vahedi opened #171 "[GDB] Building Native GDB Fails"
environment setup:
[code]

build command:
[code]

error message ([glibc-build-2019-06-25-1942.tar.gz](https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/files/3327398/glibc-build-2019-06-25-1942.tar.gz)):
[code]

It seems the culprits are:
[code]
and
[code]

[2019-06-26 10:17] anthony-kolesov commented on #171
This has been fixed in the latest release: https://github.com/foss-for-synopsys-dwc-arc-processors/binutils-gdb/commit/e6600bbefd667810744fbe8eed3830bf5644c354

[2019-06-26 10:17] #171 closed

[2019-06-26 12:27] shahab-vahedi opened #172 "[GCC] Building Glibc with GCC (2019-03) Fails"
environment setup:
[code]

build command:
[code]

error message ([glibc-build-2019-06-26-1144.tar.gz](https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/files/3329966/glibc-build-2019-06-26-1144.tar.gz)):
[code]

[2019-06-26 12:38] shahab-vahedi commented on #172
Here is a pre-processed file: [gethstent_r.tar.gz](https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/files/3330009/gethstent_r.tar.gz)

coming from:
[code]

[2019-06-26 19:09] claziss commented on #172
This issue should be opened in the gcc issue thread :)
Fixed by commit 71a760ccd2c

[2019-06-26 19:09] #172 closed

[2019-06-27 14:55] abrodkin commented on #172
@shahab-vahedi could you please indeed file a bug at https://gcc.gnu.org similarly to our previous reports like this one: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=89838

@claziss would be good to have it back-ported to gcc-9.x.

[2019-06-28 08:02] shahab-vahedi commented on #172
I discussed with claus and apparently it is not deemed necessary to file it on GCC's bugzilla.

[2019-06-28 08:04] claziss commented on #172
What will be the purpose of flooding the BZ with our bugs, moreover as it is already solved?

[2019-07-10 09:02] fbedard opened #173 "[dejagnu:g++] C++11: hexfloat doesn't work"
hexfloat seems not to work.

Failure:
FAIL: 27_io/basic_ostream/inserters_arithmetic/char/hexfloat.cc execution test

Reason:
terminate called after throwing an instance of 'std::invalid_argument'
  what():  stod

Suspect lib issue whrere stod (strtod) doesn't support hexfloat

See:
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=64054

[2019-07-10 09:11] fbedard opened #174 "[dejagnu:g++] Dwarf2 info not accurate/missing"
The following dwarf tests are failing:

FAIL: g++.dg/debug/dwarf2/non-virtual-thunk.C  -std=gnu++98  scan-assembler thunk.C:30
FAIL: g++.dg/debug/dwarf2/non-virtual-thunk.C  -std=gnu++11  scan-assembler thunk.C:30
FAIL: g++.dg/debug/dwarf2/non-virtual-thunk.C  -std=gnu++14  scan-assembler thunk.C:30

Suspecting this to be a mainline issue.

[2019-07-10 09:15] fbedard opened #175 "[dejagnu:gcc] Division fails in gcc tests for optimized floating point lib"
Failures occur in gcc/testsuite/gcc.target/arc/ieee_div.c. Information in gcc.log file:

Runtime computation error @66. inf != 0
Runtime computation error @68. inf != 0
Runtime computation error @69. -inf != 0
Runtime computation error @70. -inf != 0
Runtime computation error @71. inf != 0
Runtime computation error @73. inf != 0
Runtime computation error @74. -inf != 0
Runtime computation error @7

[2019-07-10 09:19] fbedard opened #176 "Support Gold linker for ARC"
Review status of gold linker and evaluate whether we should convert from standard linker to gold linker for ARC.

[2019-07-23 17:14] fbedard opened #177 "R_ARC_GOT32 relos not emitted by gcc/gas (optimization"
Consider the following simplistic test case:

extern int v1, v2, v3, v4, v5;

void func(int x)
{
    v1 = x;
    v2 = x;
    v3 = x;
    v4 = x;
    v5 = x;
}

arc-linux-uclibc-gcc -c -fPIC -O3 lib.c --save-temps

A snippet of generated code is
...
        ; END PROLOGUE
        ld r2,[pcl,@v5@gotpc]     ; 8 bytes
        ld r3,[pcl,@v1@gotpc]     ; 8 bytes
        st r0,[r2]
        ld r2,[pcl,@v

[2019-07-23 17:19] fbedard opened #178 "Support auto Branch Relaxation in linker"
When linking large libraries, relocation errors can happen. Building  with -mno-cond-exec is a work-around for this problem, but results in sub-optimal code.   Implementation relaxation in linker would improve this.

[2019-07-23 17:25] fbedard opened #179 "Support portable installation of toolchain"
Portable installation should change environment variables and registry, also there is no need to create uninstaller (like unzipping a .zip, but without a need to create separate .zip media).

[2019-07-23 17:27] fbedard opened #180 "Support flashing of SPI memory in ARC development systems"
Allow OpenOCD to write into SPI memory in EM Starter Kit device. OpenOCD already supports many NOR/NAND devices.

Implementing this feature will allow users to change program images in EM Starter Kit without proprietary software.

[2019-07-23 17:31] fbedard opened #181 "Support programming of EMSK FPGAs from openOCD"
Add support of programming of FPGA from OpenOCD.  Different FPGAs might require different code, EMSK's use Spartan-6 LX150 device.

OpenOCD supports programming of Virtex-2. Code is mainly just reading a *.bit file and then a bunch of JTAG commands so it looks relatively simple assuming Spartan-6 does not differ too much from Virtex-2.

This feature will allow users to program FPGA without using p

[2019-07-23 17:36] fbedard opened #182 "Breakpoints should not be allowed in delay slot of user space applications"
In GDB for userspace there are problem with handling breakpoint set in delay slot. Unlike baremetal tool chain where BRK instruction is used, GDB for Linux uses TRAP_S which is not so useful, and due to specifics of user-kernel transition DE bit will be lost. User space GDB  implements software single step to avoid halting in delay slot. However it doesn't help if user has set breakpoint manually

[2019-07-23 17:41] fbedard opened #183 "Add action point support in Linux/GDB"
Add action point support in Linux/GDB (9000797294)

[2019-07-23 17:44] fbedard opened #184 "DEBUG.UB bit gets reset on single stepping"
Code to single step in OpenOCD is wrong:

  //retval = arc_jtag_read_aux_reg(&arc32->jtag_info, AUX_DEBUG_REG, &value);
  value = SET_CORE_SINGLE_INSTR_STEP; /* set the IS bit */

  retval = arc_jtag_write_aux_reg_one(&arc32->jtag_info, AUX_DEBUG_REG,
   value);

<<<<

In this case all bits that are already set in DEBUG and which are writable will be reset to the zero. Notable example is DEBUG.UB.

[2019-07-23 17:47] fbedard opened #185 "Autodetect caches and do not flush/invalidate if there are none of them"
Currently OpenOCD always flushes and invalidates caches, even if they are not present. That is mostly ok, because if caches are not present then invalidate/flush commands are ignored. However JTAG cycles are wasted as a result. We need to detect caches presence via BCRs and act accordingly.

ARC OpenOCD already has variable for has_dcaches which allows to avoid flushing, however it can be set to f

[2019-07-23 17:49] fbedard opened #186 "Implement target_request function"
OpenOCD `target_request` command allows target to deliver messages to OpenOCD/Debugger, similar to Metaware hostlink.  Consider adding this support in OpenOCD.

[2019-07-23 17:53] fbedard opened #187 "Bare metal debugger should disable interrupts when stepping line"
Reported from user:
When stepping through the code, I often dump into arc_exc_asm.s, exc_entry_int, line 86…maybe this is an interrupt handler or something?  It seems that the debugger is not disabling interrupts when stepping is occurring?

It is not specified whether this is a instruction stepping or source-code-line stepping. OpenOCD disables interrupts when doing a single instruction step, as

[2019-07-23 17:56] fbedard opened #188 "Support XML target descriptions on Linux targets"
With GDB client supporting XML target descriptions gdbservers should be updated to use that feature appropriately, instead of current "compatible" fixed register set.

In this case that feature relates to both gdbserver and native GDB. Although native GDB doesn't need to use XML descriptions directly, still register set should same for gdbserver and native GDB.

[2019-07-23 18:00] fbedard opened #189 "Support Synopsys ARC development systems in libgloss"
libgloss is intented to contain BSPs for newlib.  Support for all Synopsys ARC Dev systems should be added, with tutorial on how to use that when compiling applications.

[2019-07-23 18:03] fbedard opened #190 "gdb fails when command "stepi" used near clone syscall"
gdb fails when command "stepi" used near "trap_s" ARC assembly instruction.

I tried to debug userspace path of "clone" syscall from uClibc.

Here is part of code I tried to debug:
[code]

Here is gdb out, when I executed code using "stepi" command:
[code]

... And so on ...

If I tried to use instruction like "next" or "step" after first time "trap_s 1" execution occurred gdb hangs up (because in

[2019-07-23 18:04] fbedard opened #191 "gdb fails when command "stepi" used near "llock/scond" ARC assembly instructions"
gdb fails when command "stepi" used near "llock / scond" ARC assembly instructions.

I tried to debug userspace path of "fprintf" libcall from uClibc.

Here is part of code I tried to debug:
[code]

Here is gdb out, when I executed code using "stepi" command:

[code]
... And so on ...

If I tried to use instruction like "next" or "step" after first time "llock / scond" loop occurred gdb hangs up (

[2019-07-23 19:08] abrodkin commented on #179
@fbedard are we talking about Windows toolchain only here?

[2019-07-24 12:52] claziss commented on #177
The `st` instruction has an `s9` short immediate, even using `.as` suffix the resulted object may have linker time errors as the displacement may be larger than the instruction can accommodate.

[2019-07-26 12:55] abrodkin opened #192 "__atomic_compare_exchange_n generates extra cmp instruction"
As of today `__atomic_compare_exchange_n()` for ARC HS generates a bit non-optimal assembly.

That's what we have in the Linux kernel:
[code]
and that's what's being generated by GCC's __atomic_compare_exchange_n():
[code]

See that extra `cmp_s` in the critical section between `llock` & `scond`.

[2019-07-26 12:59] abrodkin commented on #192
@vineetgarc does it make any sense to use `bnz_s` in the Linux kernel instead of today's `bnz` in the example above?

[2019-07-27 03:07] vineetgarc commented on #192
well cmp + bnz is equivalent to a BRNE, what is the issue. It seems the overall code size of 2 snippets is the same,
I don't use the BNZ_S for retry branch as it causes the next instruction(s) to be unaligned which we know can sometimes cause BPU misgivings.

[2019-07-27 06:50] abrodkin commented on #192
Indeed but doesn't decoding and issue costs of pair `cmp + bnz` differ from `brne` alone?

[2019-09-18 18:23] iguryanov opened #193 "Missing explicit register file initialization"
Hi,

Our run-time does not have explicit register file initialization. This creates problems for RTL simulation (as registers are in X state, not in 'random'), and might also hit designs with ECC-protected register file.

At first issue was reported against startup, then it was found in exit code, and I see other potential scenarios. So instead of minor fix (like stopping use of r0/r1 in startup)

[2019-09-24 00:35] vineetgarc commented on #192
Right, so the compiler guys can indeed optimize the cmp_s + bnz_s with a single BRNE. compilers tend to get a bit conservative since the branhc can technically get out of range (unless we feed it a specific toggle). You could argue that in this case it is gcc intrinsic so it can assume that the "small" segment of code would not get out-of-range. This depends on how the intrinsic is actually implem

[2019-09-24 00:41] vineetgarc commented on #126
uClibc LT.old is not tested/supported. Closing this one !

[2019-09-24 00:41] #126 closed

[2019-10-01 15:59] claziss commented on #193
@iguryanov adding an initialization for all regs will solve the problem? looks to me like that.

[2019-10-01 16:08] iguryanov commented on #193
should solve. But our cores are configurable and MWDT startup is not trivial on that part - 32/16 regs, 1 or more banks of registers, number of registers in secondary banks, etc...

[2019-10-01 16:11] claziss commented on #193
aha, I need to add into crt0 a runtime checker which will choose for the right init. Probably this will not be in in the next release :(

[2019-10-01 16:17] iguryanov commented on #193
runtime check might take space you don't want to give away. metaware startup sequence is defined with hardware options passed to buildlib utility and compile-time conditions. I guess we can skip one release - if somebody is affected again we will provide with temp workaround.

[2019-10-04 15:13] shahab-vahedi opened #322 "[ABI] ARCv2: setjmp should save accl/acch"
For ARCv1/v2, the [newlib/newlib/libc/machine/arc/setjmp.s](https://github.com/foss-for-synopsys-dwc-arc-processors/newlib/blob/arc-2020.09/newlib/libc/machine/arc/setjmp.S) is __not__ recording `accl/acch` registers.

They should be recorded when they exist (thanks @claziss):
[code]

Files of interest:
[setjmp.S](https://github.com/foss-for-synopsys-dwc-arc-processors/newlib/blob/arc-2020.09/newl

[2019-10-10 15:45] shahab-vahedi opened #194 "[GDB] glibc toolchain gdbserver: Cannot get thread handle, capability not available"
This is STAR 9001528364.

ARC gdbserver gives error message when trying to debug a program using threads. After the error message, the GDB client loses the connection.
Running a simple hello_world example (not compiled with -lpthread) works just fine.

----------------------------------------------
HSDK# gdbserver :10000 ./test
Process ./test created; pid = 275
Listening on port 10000
Remote debug

[2019-10-10 15:46] shahab-vahedi commented on #194
07/02/2019 06:15:59 PST MJONKER

Note: I had to use an SSH tunnel to open the GDB server connection from de02/MDC to the HSDK in nl20.
That's why GDB client connects locally to :12000. It will be tunneled to port :10000 of HSDK.
More info here: https://gitsnps.internal.synopsys.com/dwc_ev/ev_runtime/wikis/hsdk-development

[2019-10-10 15:47] shahab-vahedi commented on #194
Even a simple _hello world_ program that has nothing to do with threads but is linked against `-lpthread` will manifest this problem.

[2019-10-14 16:32] shahab-vahedi commented on #194
Running `gdb` itself on the board, more or less, leads to the same error:
[code]

But even more interesting is the debugging output of gdbserver:
[code]
And indeed the `/proc` directory is **empty**. I have asked Mischa if his setup suffers from the same symptom. If so, I think we have found the culprit.

[2019-10-15 11:20] shahab-vahedi commented on #194
Mischa's system does have a functional `/proc` dir. So the quest goes on. However, it is tricky for me to debug on a machine with defect `/proc` dir.

[2019-10-17 09:20] iguryanov opened #195 "merged access to packed structures fields generates unaligned operations"
Hi,

new optimization introduced around 2018.09 release merges short memory accesses. This is an issue for existing arc700 code at least. For example - u-boot. That codebase does not rely much on volatiles and pointers to complex structures are often passed as uchar*.

Perhaps such optimization should not be applied to packed structures?

(as a side note, even Linux might suffer is it would fire u

[2019-10-17 14:27] iguryanov commented on #195
issue was actually reported against old u-boot 2009.06. It was already addressed in u-boot couple years ago - https://patchwork.ozlabs.org/patch/792238/

I see one of the reasons for this issue now is that structure type is not packed and variable is not volatile. Most reliable would be to build whole 2009.06 with "-fno-store-merging"

[code]

[2019-10-17 14:27] #195 closed

[2019-10-24 14:00] shahab-vahedi commented on #194
This has been [fixed](https://github.com/foss-for-synopsys-dwc-arc-processors/binutils-gdb/commit/2dac47516529458fa1e6d69afa66ff49835517e4) in `arc-2019.09-gdb`.

[2019-10-24 14:00] #194 closed

[2019-10-24 14:09] claziss commented on #282
The issue is due to _hidden_ symbols which are defined in a different object, but still they are local. Because of this fact, the linker was erroneously allocating dynamic section space, while the reloc itself was solved latter on.

A simplified example is this one:

FileA.S:
[code]

FileB.S

[code]

Linker command line:
` arc-elf32-ld --shared -marclinux -o libx.so  fileA.o  fileB.o `

[2019-10-24 14:13] shahab-vahedi commented on #194
[code]

[2019-10-24 20:22] vineetgarc commented on #282
FWIW, there's STAR : 9001086764- build linker to prune extraneous R_ARC_NONE dynamic relos

[2019-10-25 10:44] claziss commented on #282
A tentative patch is here 6fb6db52d75404682fe57ffc62f339555bc0c939

[2019-10-28 16:01] shahab-vahedi commented on #190
With the current [state](https://github.com/foss-for-synopsys-dwc-arc-processors/binutils-gdb/tree/2dac47516529458fa1e6d69afa66ff49835517e4) of [arc-2019.09-gdb](https://github.com/foss-for-synopsys-dwc-arc-processors/binutils-gdb/tree/arc-2019.09-gdb), this issue is not reproducible.

![stepi_around_traps](https://user-images.githubusercontent.com/16524902/67761775-442c8800-fa44-11e9-9959-87f60a6

[2019-10-28 16:01] #190 closed

[2019-10-29 16:16] shahab-vahedi commented on #191
This is reproducible by the current [state](https://github.com/foss-for-synopsys-dwc-arc-processors/binutils-gdb/tree/2dac47516529458fa1e6d69afa66ff49835517e4) of [arc-2019.09-gdb](https://github.com/foss-for-synopsys-dwc-arc-processors/binutils-gdb/tree/arc-2019.09-gdb). I have used an `arc-2019.09` uClibc Linux image on an **HSDK board**. The example code is [attached](https://github.com/foss-fo

[2019-10-29 16:24] shahab-vahedi commented on #191
One can consider this an **anti-debugging technique** ;)

[2019-10-30 15:45] iguryanov commented on #193
similar issue in another place - pushing r13 on the stack while it was not used before and holding 0xXXXXXXXX:

[code]

[2019-10-31 16:50] shahab-vahedi commented on #191
Commit [[Fix] Do not interrupt atomic sequences](https://github.com/foss-for-synopsys-dwc-arc-processors/binutils-gdb/commit/28d6f6c863299466a062cd3ff6a4572d08dab230) in [arc-2019.09-gdb](https://github.com/foss-for-synopsys-dwc-arc-processors/binutils-gdb/tree/arc-2019.09-gdb) resolves this issue.

![gdb-atomic-solved](https://user-images.githubusercontent.com/16524902/67967973-d7adb680-fc06-11e9

[2019-10-31 16:50] #191 closed

[2019-11-01 12:51] shahab-vahedi commented on #183
History:
[code]

[2019-11-08 08:15] abrodkin opened #196 "build-all.sh tries to checkout libc repo even if libc is not being built"
Imagine one wants to build bare-metal toolchain only (i.e. w/o uClibc or Glibc) then it makes no sense to clone either uClibc or Glibc repo to the local machine.

Now on attempt to execute `./build-all.sh --no-uclibc` (which implicitly means building `--elf32` only) we'll see this error:
[code]

Looking at the very end of mentioned the log we see:
[code]

To fix that we need to check if libc is su

[2019-11-08 08:57] abrodkin commented on #196
The fix is:
[code]

[2019-11-08 15:31] abrodkin opened #197 "Error: invalid register number, should be pcl for instruction 'leave_s'"
Built arc-2019.09-rc1 tools with our scripts in Ubuntu 18.04.3 Docker (i.e. clean environment) as simple as `./build-all.sh --no-uclibc` got a failure on newlib building which happens due to AS error:
[code]

Test-case is:
[code]
Note it was generated by CC right before (i.e. it isn't hand-crafted something).

Also note AS from prebuilt tools (https://github.com/foss-for-synopsys-dwc-arc-processor

[2019-11-11 08:22] EvgeniiDidin opened #199 "Buildroot: oprofile fails to build with arc-2019.09 toolchain"
With recent introduction of arc-2019.09-rc1(eng002) toolchain in buildroot the "oprofile" package started to fail:
http://autobuild.buildroot.net/results/0e0/0e0d7587dc2117d7ea97571f1533d9640d227cc7//

It was tested that with upstream binutils (ver: 2.32, 2.33, 2.33.1) the error does not reproduces.
Also recent ARC-specific commits didn't cause the error - with binutils rev:
https://github.com/fos

[2019-11-11 10:40] abrodkin opened #200 "GDB requires libcpp from GCC 5.2.0+"
On attempt to run GDB on CentOS 7.x with default libs I'm seeing this:
[code]
That happens because we build toolchain with GCC 5.2.0 which has C++ ABI of higher version than default CentOS's GCC 4.8.

That makes prebuilt GDB unusable on stock CentOS 7.x.
The following solutions are available:
1. Rebuild entire toolchain on CentOS 6 (which we do now anyways) with stock GCC (if that works at all giv

[2019-11-12 07:21] abrodkin commented on #200
Looks like there's no real need to use non-default GCC on CentOS 7 (at least, need to confirm if it's the same on CentOS 6) as all could be successfully built with default GCC 4.8.5, see:
[code]

[2019-11-12 10:48] claziss commented on #199
As far as I understand, there is nothing which I can do here. Please close this issue if there are no other developments.

[2019-11-12 10:50] EvgeniiDidin commented on #199
Closing the issue do generic upstream change, nothing related with ARC.

[2019-11-12 10:50] #199 closed

[2019-11-12 11:00] claziss commented on #206
The error shown is not a GCC problem. As we can see the compiler reports correctly the ARC cpus:

[code]
The error is printed by the assembler.

[2019-11-12 11:27] claziss commented on #197
I cannot reproduce this issue at my end. Probably it is a miss-compilation on your setup, which I cannot control or influence. Please update your host compiler at your end or/either other support tools and libs.

[2019-11-12 11:40] abrodkin commented on #197
@claziss for the record could you please specify which Linux distro do you use for building a toolchain on your end?

[2019-11-12 11:49] abrodkin opened #202 "Cannot build GDB arc-2019.09-rc1 in CentOS 6.x"
On configuration of host GDB in CentOS 6.x the following error message appears:
[code]

That happens because in CentOS 6.x default GCC is 4.4.7 and it indeed doesn't support C++11:
[code]

[2019-11-12 12:15] claziss commented on #168
Is here any new update, shall we close this issue?

[2019-11-12 19:16] abrodkin commented on #202
Vanilla CentOS 6.x is not suitable for building up-to-date GDB as it requires compiler with C++11 support (see https://sourceware.org/gdb/current/onlinedocs/gdb/Requirements.html) and default GCC from CentOS 6.x (4.4.7) doesn't support it yet.

That might be worked-around with use of RedHat's so-called "software collections" (SCL), see https://access.redhat.com/documentation/en-us/red_hat_develope

[2019-11-12 19:45] abrodkin commented on #200
In the previous release (arc-2019.03) we used GDB 8.0.50:
[code]

In the current release (arc-2019.09) we use GDB 8.3.50:
[code]

And for some reason older GDB (from arc-2019.03 release) doesn't depend on C++:
[code]

While current version does depend on C++ and thus C++ ABI dependency of used compiler:
[code]

[2019-11-13 11:19] shahab-vahedi commented on #200
This is because in v8.3 we are _forced_ to implement our target also in C++. Look into [this](https://github.com/foss-for-synopsys-dwc-arc-processors/binutils-gdb/commit/82221541e9c1c3bfe43ad27c2d3279a5991a351c) change just as one of the examples.

[2019-11-13 11:23] claziss commented on #197
@abrodkin I use latest Fedora witih gcc 9.1.x. I also use a docker container to build the toolchain. Here it is :
https://github.com/claziss/arc-gnu-docker

And for windows toolchain I use:
https://github.com/claziss/arc-win-docker

And for testing ;)
https://github.com/claziss/arc-testing-docker

Unfortunately, I cannot really use travisCI with them as it take too long and travisCI jobs time out

[2019-11-15 15:44] abrodkin commented on #196
Fixed by https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/commit/768c50617a22394891fa7751bf45830edbb0efee

[2019-11-15 15:44] #196 closed

[2019-11-15 15:54] abrodkin commented on #200
So here's what we may do:
1. Re-build prebuilt tools with GCC 4.8.5 so it's usable on stock CentOS/RHEL 7.x and alike.
2. Install newer GCC on CentOS/RHEL 6.x via SCL (Software Collections, see https://wiki.centos.org/AdditionalResources/Repositories/SCL & https://wiki.centos.org/SpecialInterestGroup/SCLo/CollectionsList).

[2019-11-15 15:54] #200 closed

[2019-11-15 15:57] abrodkin commented on #197
As per @anthony-kolesov something similar was observed much earlier with Ubuntu 17.10 and given this problem still happens with Ubuntu 18.04 it worth looking closer at it.

[2019-11-15 16:17] abrodkin commented on #282
@claziss what is our plan with this one?

[2019-11-21 14:40] falaleevms opened #207 "[Docker] uClibc fails on configuration with missing en_US.UTF-8 locale"
Host: ubuntu:16.04 and ubuntu:18.04

[code]

See [uclibc-build-2019-11-21-1213.log.txt](https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/files/3875144/uclibc-build-2019-11-21-1213.log.txt)

Reporduce:
[code]

[2019-11-21 22:32] falaleevms opened #208 "Documentation building fails on Fedora 31 with texlive version below 2019-6.fc31"
Built in container fedora:31

Error:
[code]

Full log:
[elf32-build-2019-11-21-1140.log.txt](https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/files/3877072/elf32-build-2019-11-21-1140.log.txt)

Reporduce:
[code]

[2019-11-22 08:47] abrodkin commented on #202
We don't support CentOS 6.x hosts starting from arc-2019.09 release.

[2019-11-22 08:47] #202 closed

[2019-11-22 11:40] EvgeniiDidin opened #209 "[LD]arc-2019.09-rc2/archs: ld with "-G" option causes change of arch to ARCompact"
Dmalloc package builds in Buildroot autobuilder started to fail with latest arc-2019.09-rc2 toolchain. Building package for archs fails with the message that binaries were compiled for ARCompact.

The error can be reproduced with simple application:
[code]
and next sequence of commands:
[code]
Note! without "-G" key the target architecture remains unchanged.
The issue also reproduces on arc-2019.0

[2019-11-22 12:54] abrodkin commented on #207
uClibc with enabled support of locales uses locale installed on build host and if it's missing (`en_US.UTF-8` in particular) then uClibc fails to configure that way:
[code]
This happens because on a previous step `gen_wc8bit` didn't create proper `c8tables.h`:
[code]

That said for successful building of uClibc toolchain one has to have locale files for `en_US.UTF-8` generated on build host. For t

[2019-11-22 12:54] #207 closed

[2019-11-22 13:47] abrodkin commented on #208
For now workaround is to disable building of documentation passing `--no-pdf` to `build-all.sh` script.

[2019-11-22 16:35] falaleevms opened #211 "Build toolchain fails with 'xgcc: Command not found' or 'xgcc: Permission denied'"
During testing arc-2019.09.rc2 similar toolchain build failures were mentioned:

1.   On `centos:7`, toolchain `Baremetal, LE, em4_dmips` during building libstdcxx_optsize:
[code]
Full log: [elf32-build-2019-11-22-0807.log.txt](https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/files/3880438/elf32-build-2019-11-22-0807.log.txt)

2.   On `fedora:31`, toolchain `Linux, LE, ARC HS` dur

[2019-11-22 19:02] abrodkin commented on #208
Could be reproduced on partially built toolchain (some intermediate files are required) like that:
[code]

[2019-11-22 20:41] abrodkin commented on #208
This is Fedora 31 bug: https://bugzilla.redhat.com/show_bug.cgi?id=1772624
The fix is to be deployed via newer version of texlive package. It must be of version `2019-6.fc31` or above. As of today (November 22-nd 2019) this package version was only available from Fedora testing repository and it's possible to get it via addition of the corresponding repo, see https://bodhi.fedoraproject.org/update

[2019-11-22 20:41] #208 closed

[2019-11-25 08:05] abrodkin commented on #197
Attached binary of the cross-assembler has debug info so in GDB with:
[code]
you may stop at mentioned error message.

[2019-11-26 20:45] falaleevms commented on #211
Running release testing with `--single-thread` flag finished without such errors. See: [logs of testing building toolchain on different platforms](https://de02-arcjenkins2/job/arcoss_verification/job/arc_gnu_toolchain_release/job/release-testing-TC1/66/flowGraphTable/).

[2019-11-26 21:53] falaleevms opened #212 "Building gdb fails due to unwanted regenerating intl/plural.c by bison 3.x"
GDB compilation sometimes fails on attempt to regenerate `intl/plural.c` with bison 3.x (although this file already exists in repository tree) with the following messages:
[code]

That's a known issue (see https://sourceware.org/bugzilla/show_bug.cgi?id=22941) but so far there's no good solution for it. What we do though to get reliable builds we update a timestamp of this existing `plural.c` that

[2019-11-27 07:20] #211 closed

[2019-11-28 14:28] #212 closed

[2019-11-29 08:58] claziss commented on #209
From ld help:
`-G SIZE, --gpsize SIZE      Small data size (if no size, same as --shared)`

thus, the same effect can be seen if we pass instead of `-G` `--shared`.

[2019-11-29 09:59] abrodkin opened #213 "GCC: Some arc built-ins are not documented"
We do have quite some `__builtin_arc_xxx` functions documented in the official GCC documentation, see https://gcc.gnu.org/onlinedocs/gcc/ARC-Built-in-Functions.html but some which we do implement (see https://gcc.gnu.org/viewcvs/gcc/trunk/gcc/config/arc/builtins.def?view=markup) are not documented.

For example the following built-ins are missing in the documentation:
* `__builtin_arc_ffs()`
* `__

[2019-11-30 16:46] jeremybennett commented on #197
If it helps as a small example, Embench (see https://github.com/embench/embench-iot) hits this when compiling `aha-mont64.c` using GCC top-of-tree (commit a9d06ea05ab). Compile command was:
[code]
Output was:
[code]
No problem if I compile with `-mcpu=em`, but then I can't use `-mcode-density`

[2019-11-30 16:51] jeremybennett commented on #197
Furthermore, this example compiles fine with `-mcpu=em4_dmips`, but then the `minver` example blows up with a different message:
[code]
which gives the error message:
[code]

[2019-11-30 18:44] jeremybennett commented on #197
I see the same behavior in the GCC 9.2 release code base as well.

[2019-11-30 18:53] abrodkin commented on #197
@jeremybennett we only managed to get that problem reproduced on Ubuntu starting from 17.10. If we build ARC toolchain on other Linux distros this problem never happens. I'm wondering which distro do you use?

[2019-12-02 17:37] claziss commented on #197
@jeremybennett @abrodkin both gcc and binutils (top of tree) correctly handles enter and leave instructions in my fedora setup. It looks to me a compilation issue of the x86 compiler in your setup. Which gcc version of the compiler do u use?

[2019-12-06 21:17] jeremybennett commented on #197
@claziss Just done a quick check:
[code]
I'm not at work at the moment, but I'll dig out the exact configure line for binutils-gdb and gcc tomorrow.

[2019-12-10 09:44] claziss commented on #197
There is a memory leak found and fixed lately in binutils. I don't know if it has any connection with observed behaviour for ARC but I let it here for reference.
https://sourceware.org/bugzilla/show_bug.cgi?id=24960

[2019-12-10 13:44] joejohnpaulines opened #216 "not able to compile a sample program using "-mcpu=em_mini" with arc-elf32-gcc from command line"
I am not able to compile a sample code using "arc-elf32-gcc -mcpu=em_mini -g hello.c" and I am getting below error.
[code]

[code]

here i used arc-elf32-gcc from the GNU ide's bin folder [ arc_gnu_2019.09-rc2_ide_linux_install/bin/arc-elf32-gcc].

Environment Details :

Os : Centos 7.3
GNU : 2019.09-RC2

Thanks,
Joe

[2019-12-10 15:17] abrodkin commented on #216
@claziss could you please look into this one? Looks like libgcc and C-runtime for `-mcpu=em_mini` are compiled in assumption of existence of full register file.

[2019-12-10 15:18] abrodkin commented on #216
@joejohnpaulines the same is reproduced with `arc-2019.03` so this is not a regression but instead something pretty old. Let's see what Claudiu says.

[2019-12-10 18:40] claziss commented on #216
The issue is located in the assembly only files of libgcc which are compiled to default no-rf16 architecture. See:
[code]
The c-files are compiled accordingly:
[code]

[2019-12-11 11:08] claziss commented on #216
I have qualified the hand-made assembly files present in libgcc in this patch:
https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/commit/719202defb9775a7b9bee59b19f8038a17757f3f

I need to double check if newlib is ok as well.

[2019-12-11 11:19] claziss commented on #216
It seems newlib is also ok. The commit 95d524de494aa4bdd8a52855ff2275ef40dc022e takes care of it.

[2019-12-11 11:57] abrodkin commented on #216
Could you please paste full URL to this commit as otherwise it's not clear where this commit is supposed to be. There's nothing with such hash in ARC GCC repo.

[2019-12-11 12:34] claziss commented on #216
https://github.com/foss-for-synopsys-dwc-arc-processors/newlib/commit/637f118ae89b3de54d693595481838f076ea8d9b

[2019-12-16 08:09] abrodkin commented on #216
The fix now in arc-2019.09-rc2 and proven to work!

[2019-12-17 09:14] abrodkin opened #219 "[Linux] Init fails with 16KiB MMU page"
In Buildroot 2019.11-374-g62a7e61df9 `BR2_ARC_PAGE_SIZE_16K=y` & `BR2_TOOLCHAIN_USES_UCLIBC=y`
In Linux kernel 5.4.2 `CONFIG_ARC_PAGE_SIZE_16K=y`.

[code]

[2019-12-17 11:44] abrodkin commented on #219
Apparently with 4KiB MMU page the issue goes away.
I.e. BR2_ARC_PAGE_SIZE_4K=y & BR2_TOOLCHAIN_USES_UCLIBC=y
In Linux kernel 5.4.2 CONFIG_ARC_PAGE_SIZE_4K=y.
[code]

[2019-12-17 12:37] shahab-vahedi commented on #219
The page size for ARC is hardcoded/defined to 8K in QEMU. I am even surprised that 4k version works. Maybe it works because any entry added to QEMU's internal TLB that is smalled than the page size (hardcoded 8k) can be considered a 1-byte entry. Then I expect the booting process to be slower than the normal scenarios.

[2019-12-17 12:47] abrodkin commented on #219
@shahab-vahedi this problem happens on both nSIM & real HW (HSDK) so has nothing to do with QEMU [yet] :)

[2019-12-17 13:43] abrodkin commented on #219
@claziss @cupertinomiranda I guess that might happen due to some alignment things.
So to me this `MAXPAGESIZE=0x2000` looks suspicious as it is exactly 8KiB!
See https://github.com/foss-for-synopsys-dwc-arc-processors/binutils-gdb/blob/arc-2019.03/ld/emulparams/arclinux_prof.sh#L11

I remember back in the day I fixed that for ARC700 but now I cannot find that change in our repos :(

[2019-12-17 14:33] petrokarashchenko opened #220 "Incorrect assembly generated for __attribute__((uncached)) access"
Compiler "GCC: (ARCompact/ARCv2 ISA elf32 toolchain 2019.09-rc2) 9.2.1 20191002"
C code:
[code]
Generated assembly:
[code]

The problem is that it is expected `st.di r0,[0x668]`, but actually GCC generates `st r0,[0x668]`

[2019-12-17 15:18] claziss commented on #219
@abrodkin  arclinux_prof.sh is unused :) But indeed the MAXPAGESIZE is set to 8k here:
https://github.com/foss-for-synopsys-dwc-arc-processors/binutils-gdb/blob/d276fed546051ac2d0f127613c2bb0e00d02ccb6/bfd/elf32-arc.c#L3426

[2019-12-17 17:10] petrokarashchenko opened #221 "__attribute__((uncached)) in not applied to typedef'ed types"
GCC Version: "GCC: (ARCompact/ARCv2 ISA elf32 toolchain 2019.09-rc3) 9.2.1 20191002"
Next code compiles with no warnings or errors.
[code]
Generated assembly code
[code]
Expected assembly code
[code]
It is expected that `st.di`/`ld.di` instructions are used for types with `__attribute__((uncached))` attribute

[2019-12-17 17:21] petrokarashchenko commented on #221
Is it possible to fix this is in GNU Toolchain for ARC Processors, 2019.09 release?

[2019-12-17 17:21] petrokarashchenko commented on #220
Is it possible to fix this is in GNU Toolchain for ARC Processors, 2019.09 release?

[2019-12-17 18:59] vineetgarc commented on #219
A 4k page software build on a 8k hardware/simulator will _not_ be slow, but will be busted in random ways. Imagine the vadr faulted for was 0x1001. A 8k page simulator will lookup for a TLB entry with vaddr 0x0 to do the mapping, while a 4K page simulator will lookup 0x1000. Since the entry for latter won't likely exist it will fail. This is unless you have "creative" masking in lookup process :-)

[2019-12-17 19:13] petrokarashchenko commented on #220
@fbedard could you please take a look

[2019-12-17 19:13] vineetgarc commented on #219
There's a long history to how all the 16k and 4k sizes were brought up.
The gist of issue at had is in
https://github.com/foss-for-synopsys-dwc-arc-processors/binutils-gdb/commit/50c303c7e921cdeb0344e782397f8585dfae000d

But then as Claudiu says this still needs MAXPAGESIZE to be 16k is currently 8k for ARC. I would propose to NOT change the default as that causes a lot of mmap space wasted in sla

[2019-12-17 19:45] petrokarashchenko commented on #220
CC: @claziss

[2019-12-18 07:47] abrodkin commented on #219
Ok solution (`-Wl,-z,max-page-size=16384`) proposed by Vineet that really make user-space work on 16 KiB MMU pages. In Buildroot parlance this translates to `BR2_TARGET_OPTIMIZATION="-Wl,-z,max-page-size=16384"`. I guess we may just add this linker option by default whenever 16 KiB page gets selected in Buildroot, i.e. make it dependent on `BR2_ARC_PAGE_SIZE_16K`.

FWIW:
[code]

[2019-12-18 09:07] abrodkin commented on #221
@petrokarashchenko could you please elaborate a bit on what is a project you're working on where this toolchain versions is going to be used and if there're any deadline we need to worry about working on the fix?

[2019-12-18 09:33] claziss commented on #221
Hi,

In your example, the pointer `my_type_t *p` is defined as `uncached` thus, the compiler does exactly what it should do. For example, considering the fallowing snip:

[code]
you will get:
[code]
which it is what it is expected.

If you want the members of your structure to be uncached, then I would do this:

[code]

with the result:
[code]

Probably the latter is what you were expecting :)

[2019-12-18 09:43] claziss commented on #220
Hi,

Strangely enough, I am getting what it is expected, using `-mcpu=arcem -O1` options for the compiler:
[code]
Please, can u tell me exactly what compiler options do u use.

[2019-12-18 09:57] petrokarashchenko commented on #220
Hi @claziss,

Compiler flags are next:
[code]

[2019-12-18 10:00] claziss commented on #220
Go it. Thanks, I will come with a solution asap.

[2019-12-18 10:16] petrokarashchenko commented on #221
@claziss in case of
[code]
I do not fully understand does `__attribute__((uncached)) char *b` means that `p->b` access is uncached or `*p->b` access is uncached.

I make analogy with GCC `__attribute__((packed))`.

Actually my assumptions are next:
[code]
@claziss looking forward for your input

[2019-12-18 10:20] petrokarashchenko commented on #221
@claziss you wrote that: "In your example, the pointer `my_type_t *p` is defined as `uncached`", but
[code]
Does not state anything about pointers.

If I use
[code]
I still expect that `st.di`/`ld.di` instructions are used.

[2019-12-18 10:42] petrokarashchenko commented on #221
@abrodkin I'm working on project that use 4xCore ARC600. We want to use any working GNU toolchain. I have spend quite a lot of time trying to bring-up code with `GNU Toolchain for ARC Processors, 2019.03`, but `GNU Toolchain for ARC Processors, 2019.03` has a bug with usage of `-mmul64` option (wrong assembly code is generated for some `mul64` cases) and usage of `__attribute__((interrupt ("ilink1

[2019-12-18 10:48] claziss commented on #221
I see, u expect `uncached` type attribute to be propagated to each member of the struct, union, or class, which doesn't happen. Ok, this is a "feature" :)

[2019-12-18 11:08] petrokarashchenko commented on #221
@claziss I do not agree.
I see the test case
[code]
In the example `__attribute__ ((uncached))` is applied to `RwReg` type. @claziss do you agree?
If `__attribute__ ((uncached))` is applied to `RwReg` type, then it is expected that
[code]
will generate `uncached` access. @claziss agree? That means that all memory region occupied by `RwReg` type (aka memory block of `sizeof(RwReg)`) is accessed usi

[2019-12-18 11:12] abrodkin commented on #221
@petrokarashchenko I guess you're talking about this one https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/issues/73, right?

Ok given your deadline in April indeed if we ever need to **fix it** then it won't wait for the next release we're going to have sometime during spring 2020. But looks like there's a work-around proposed by @claziss so maybe it will be enough for you now.

Also sp

[2019-12-18 11:32] petrokarashchenko commented on #221
@abrodkin I have tried the workaround that @claziss suggest, but I have next use case that I expect to work:
[code]
So I expect that I can access `p->a1` value (address) in uncached manner and `p->a1->a` in uncached manner.

When I use
[code]
I do not know is `p->a1` access is uncached or not. Or maybe I need to use
[code]
What comes from
[code]
Actually I get message that attribute for enum is ig

[2019-12-18 14:16] claziss commented on #221
Please let me know if this patch fixes this issue:
https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/commit/e69526effeb578e0fcda4d849bc0875b31558be2

[2019-12-18 14:23] claziss commented on #220
The issue seems to be one of the GCC passes (i.e. `jump2`) which decides to drop the memory attributes leading to the observed problem. As a work around is to use `-fno-crossjumping` compiler option until I properly fix it.

[2019-12-18 14:57] petrokarashchenko commented on #220
Thank you @claziss for your support. I will try it

[2019-12-18 15:07] petrokarashchenko commented on #221
@claziss according to test case I expect that specified patch should fix the issue

[2019-12-18 15:22] petrokarashchenko commented on #221
I will wait for next toolchain build to verify

[2019-12-18 15:23] petrokarashchenko commented on #220
I confirm that workaround works

[2019-12-18 15:45] abrodkin commented on #219
Ok is covered in Buildroot now with https://patchwork.ozlabs.org/patch/1212539/.

[2019-12-18 15:45] #219 closed

[2019-12-18 21:18] petrokarashchenko commented on #221
@claziss is it possible to get pre-built "debug" version of ARC GCC toolchain containing the fix? So I can fully verify the fix. I need baremetal big-endian variant for Linux x86_64 or MAC.

[2019-12-19 09:30] claziss commented on #221
You can build it yourself :) for both MacOS or Linux. For win is a bit more complex :). The howto is in the READ.me of this project. Please let us know your experience, and what will you change.
P.S. I may do a brew formula for MacOS but not now...

[2019-12-19 10:01] abrodkin commented on #216
Well there seem to be yet another fall-out:
[code]

@claziss could you please take a look at what's wrong with `_umodsi3`?

@joejohnpaulines for the record I was not able to reproduce this problem just because I didn't use "carriage return" symbol (`\r`) in my example. I.e. the following code gets built normally:
[code]
but with added `\r` it fails as you saw:
[code]

[2019-12-20 14:48] abrodkin commented on #197
This is now fixed with https://github.com/foss-for-synopsys-dwc-arc-processors/binutils-gdb/commit/91be564da5af9bef8f9fbbd223e76be6d2e81484.

[2019-12-20 14:48] #197 closed

[2019-12-20 14:50] abrodkin commented on #216
Finally fixed with https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/commit/f792d846612417bbdcc350715c982c671a9dda28.

[2019-12-20 14:50] #216 closed

[2019-12-20 15:07] petrokarashchenko commented on #221
@claziss I have made some experiments and fix works for simple types like enums.
But case:
[code]
Generates
[code]
So `uncached` is not propagated to all region of memory defined by `my_type_t `.
Could you please take a look is it doable to fix this as well?

[2019-12-20 15:20] petrokarashchenko commented on #221
If I make
[code]
I get `warning: ignoring attributes applied to 'struct <anonymous>' after definition`
O understand that it is possible to workaround using
[code]
but `my_struct_t` by itself (like my_enum_t) is not supposed to be `uncached`. Only block of memory accessed by `my_type_t` is supposed to be `uncached`

[2019-12-20 16:53] shahab-vahedi opened #222 "[GDB]: dejagnu tests fail because "gdb_tg.o" is not found."
binutils branch: `20190.09nx`

When running GDB's testsuite, many tests (~180) fail because GCC cannot compile them:
[code]

`gdb_tg.o` does exist and it has been used by many test cases. It seems like some of the tests "cd" to other directories and then the compilation will break.

Attached you will find the necessay scripts and README to reproduce this issue for one of the tests on your system.

[2019-12-20 16:58] shahab-vahedi opened #223 "[GDB]: tdesc-regs.exp fails"
binutils branch: `2019.09nx`

Test `tdesc-regs.exp` fails:
[code]

The problem seems to be related to the fact that GDB does not recognize the "general" register groups anymore. This needs further investigations and could cause other problems (#224).

Use the attached data to reproduce the test after making the adjustments according to the README.

[gdb-target-desc.zip](https://github.com/foss-for

[2019-12-20 17:15] shahab-vahedi opened #224 "[GDB]: "info registers" prints more than general registers"
binutils branch: `2019.09nx`

In GDB:
[code]
is supposed to only print "general" registers. However, it seems GDB is printing every registers that it may know about:
![gdb-info-registers](https://user-images.githubusercontent.com/16524902/71273973-4defaf00-2354-11ea-94e4-a8dc444161df.gif)

This leads to a crash in QEMU (nSIM remains fine though). It needs further investigation to know whether GDB

[2019-12-20 17:26] shahab-vahedi opened #225 "[GDB]: In TUI mode, if source is small, GDB crashes."
binutils branch: `2019.09nx`

If the number of lines to be printed in GDB's `asm` layout is not big enough to exceed over the layout, GDB will crash:
![gdb-layout-src-crash_nok_with_layout](https://user-images.githubusercontent.com/16524902/71277716-f3575280-2355-11ea-8e36-6ee27f921d80.gif)

However, if there is no layout mode, it proceeds happily:
![gdb-layout-src-crash_ok_without_layout](https:/

[2019-12-20 17:38] shahab-vahedi opened #226 "[GDB]: Registers are not updated if source file is not found."
binutils branch: `2019.09nx`

If GDB is in source layout:
[code]
and for whatever reason GDB cannot locate the necessary source file(s):
[code]
If you intiate a target remote:
[code]
The register information is not received from the other end. However, if you change to another layout (say `layout asm`), then it goes OK. Watch below for a demonstration of both:
![gdb-missing-src-bad-reg-neg](https:

[2019-12-20 17:48] shahab-vahedi opened #227 "[GDB]: In TUI mode, no input file before "target remote" leads to crash."
binutils branch: `2019.09nx`

If gdb is invoked without providing any input file, and is put it in a layout mode (say "layout asm"):
[code]

and then a "target remote" to a gdb stub occurs:
[code]
It will core dump:
![gdb-no-elf-provided](https://user-images.githubusercontent.com/16524902/71279047-fef84880-2358-11ea-9e35-212548e0d6e6.gif)

This will NOT happen if gdb is not using any layout.

You

[2019-12-20 17:58] shahab-vahedi opened #228 "[GDB]: Register fields are not printed correctly."
binutils branch: `2019.09nx`

Some registers' _fileds_ values are not correct:

##### tlbpd0:
[code]

##### status32:
[code]

The xml definitions of `tlbpd0` for example looks like:
##### qemu/gdb-xml/arc-aux-other.xml
[code]
[gdb-print-register.zip](https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/files/3989555/gdb-print-register.zip)

[2019-12-20 18:15] shahab-vahedi opened #229 "[GDB]: Get rid of "ARC_REGISTER_SIZE""
binutils branch: `2019.09nx`

Commit [arc64 support in GDB](https://github.com/foss-for-synopsys-dwc-arc-processors/binutils-gdb/commit/329d1fc516949aad1e65239c941ed99087e8b0cc) got rid of `ARC_REGISTER_SIZE` macro, which was 4 (bytes), and adapted the code as such that the register size (4 or 8 bytes) is determined from the elf file or whatever is communicated from gdbserver/openocd/qemu/nsim.

T

[2019-12-20 18:26] shahab-vahedi opened #344 "[DWARF] Full path of source files are not stored in elf files."
If you build a program for arc64 target with debug flags, the stored information is incomplete:
[code]

However, for the 32-bit arc:
[code]

The issue causes a problem: **GDB cannot locate the source file**.
This can be either coming from how we save the DWARF information or the [arc-gnu-toolchain](https://github.com/foss-for-synopsys-dwc-arc-processors/arc-gnu-toolchain) building scripts. Most li

[2019-12-22 19:10] petrokarashchenko commented on #221
First of all I want to thank you @claziss and @abrodkin for taking this effort and implement the change in this release. Thank you very much for support and hope that it will be possible to implement behaviour described above with minimal effort. If not then I will need to think about possible workarounds.

[2019-12-23 09:54] petrokarashchenko commented on #221
@claziss I have applied next change and seems to get the behaviour described above.
[code]
Please take a look and say what do you think.
We can add test case from example above to verify. Of even extend it with next
[code]
and verify code
[code]

[2019-12-23 10:54] petrokarashchenko commented on #221
@claziss Is it possible to include above fix into 2019.09 release?

[2019-12-23 10:55] abrodkin commented on #221
@petrokarashchenko please find new toolchain binaries published as `arc-2019.09-rc4` here https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/releases/tag/arc-2019.09-rc4 and let us know if that's sufficient for your project or not.

Given what we discuss here is not strictly a bug but more of an enhancement if not a new feature I don't want to gate this toolchain release by that lon

[2019-12-23 11:11] petrokarashchenko commented on #221
@abrodkin That makes sense. I fully understand that you have a long re-verification process for all the changes and that 2019.09 milestone is overdue. You are 100% right that if we are talking about GNU toolchain I can do any modifications, but I'm not a compiler expert, and do not have any infrastructure to verify changes that I propose (in terms of full regression), so that is the biggest pain f

[2019-12-23 13:51] petrokarashchenko commented on #221
In general I need only some help just to be sure that we are on the same page.
I used next steps to build toolchain locally:
[code]
but at the end I get not a tarball like pre-build toolchain, but a directory `/workspace/install` with folder structure.
I only would like to get some help with commands you guys use to get `arc_gnu_2019.09-rc3_prebuilt_elf32_be_linux_install.tar.gz` for example, so I

[2019-12-23 15:05] petrokarashchenko commented on #221
I have created PR https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/pull/82 for better tracking

[2019-12-24 08:24] abrodkin commented on #221
We just tarball entire folder (`cd arc-elf32-xxx && tar czf arc-elf32-xxx.tar.gz arc-elf32-xxx/`), you may see it here: https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/blob/arc-releases/release.mk#L177.

[2019-12-24 10:02] abrodkin opened #231 "[newlib/libgloss] Add support for RF16 configurations"
Currently we have this:
[code]

@claziss @shahab-vahedi who's interested in getting this done at some point? :)

We need this to have an ability to add RF16 (`-mcpu=em_mini`) configuration in automated testing, i.e. have an ability to run a simple "hello world" application in nSIM similarly to what we do for other configurations.

In particular we do it in automated flow as a part of release (as w

[2019-12-24 10:13] claziss commented on #231
Not sure if we can use the nsim's gnu Host I/O for RF16. We need to investigate more.

[2019-12-24 17:11] petrokarashchenko opened #232 "-O1 Optimization failure issue"
I have an issue. I have a project that I try to compile for arc600 BE CPU.
There are quite many files in the project and I observe the next issue:
When I compile code with `-O1` I observe strange behaviour in my code. I have not found the root cause, so it is still in progress.
When I compile code with `-O0`,  then all is working as expected.

With this I have evaluated then either that my code ha

[2019-12-24 17:22] petrokarashchenko commented on #232
I have tried to use option set for `-O1` specified in https://gcc.gnu.org/onlinedocs/gcc-9.2.0/gcc/Optimize-Options.html
with
[code]
My code also works as expected

[2019-12-24 19:09] claziss commented on #232
You will get the #220 issue whenever you use either some fancy CFG optimization or if-convertion (insn predication). Probably now you have something related to if-conversion steps. You can try to turn them off.

[2019-12-29 21:24] petrokarashchenko commented on #232
@claziss I think I have found the root cause of the issue. At least some assembly generated code that seems to be buggy to me.

I have next code snippet:
[code]

When I compile it with `-O0` I get next assembly that is working as expected:
[code]

 But when I compile same code with `-Os -fno-crossjumping` I'm getting next assembly that does not work as expected:
[code]

I'm getting `st_s	r1,[r0,8]

[2019-12-30 17:21] petrokarashchenko opened #233 "Problems using __attribute__(("ilink1")) with -Os and -mmul64 options"
I have a function that implements interrupt handling on ARC600.
I compile code with `-Os` option.
I Implement it in next way:
[code]

I'm getting the next assembly code after compilation:
[code]

I see that register store and restore are "mirrored", but I'm wondering why I'm getting `push_s	blink` -> `sub_s sp,sp,124` when function prologue and `ld	blink,[sp,112]` -> `add_s sp,sp,116`?
Actually I

[2019-12-31 09:54] petrokarashchenko commented on #233
If I compile with `-O0` I'm getting next code:
[code]

And here all seems ok to me except `st.a	gp,[sp,-4]` and `ld.ab	gp,[sp,8]`. But I do not use `sdata` in my code so I do not care value of `gp` register.

[2019-12-31 11:47] petrokarashchenko commented on #233
After looking into code more carefully I think that epilogue code is actually correct, but prologue code has a bug. Storing registers from `r0` to `r25`, `fp` and `gp` takes actually `28 * 4 == 112` bytes, all other stores are done via `push`, so I'm expecting next prologue
[code]

[2019-12-31 11:54] petrokarashchenko commented on #233
I think I'm getting `sub_s sp,sp,124` because I compile with `-mmul64`, so I'm expecting that `mlo` and `mhi` also should be stored / restored, but this is additional 8 bytes, `112 + 8 == 120`, so I still do not understand where additional bytes come from.

[2019-12-31 12:27] petrokarashchenko commented on #233
Full list of compilation flags:
[code]

[2020-01-01 13:59] petrokarashchenko commented on #233
As a workaround I'm using `__attribute__((optimize("O0")))` together with `__attribute__((interrupt ("ilink1")))`. The next prologue and epilogue is generated:
[code]
In this case my code works as expected.

But this is because assembly generated from my code does not use `mul64` instructions. But I still think that we need to store / restore `mlo` and `mhi` in case if `-mmul64` option is used.

[2020-01-02 10:55] petrokarashchenko commented on #233
So compiling with `-mmul64` option I'm expecting prologue to contain something like:
[code]
and epilogue to contain something like:
[code]
or better optimised code like:
[code]
and
[code]

[2020-01-05 20:52] petrokarashchenko commented on #233
@fbedard could you please take a look?

[2020-01-07 13:41] claziss commented on #197
Pushed to binutils mainline https://sourceware.org/git/gitweb.cgi?p=binutils-gdb.git;a=commit;h=2a1ebfb221f5f52a743b7ea4c504a7318956c49c

[2020-01-09 08:52] claziss commented on #233
I'll look into it asap. Meanwhile, you can use `naked` attribute and your hand-made inline assembly for prologue and epilogue.

[2020-01-09 14:53] claziss commented on #233
I've made a patch which should solve the observed issues. You can find it here:
https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/commit/99e20c9aba7f8afe616113daa1a5ccdd10db6cb8
Please be aware it is not fully tested just yet. Please let me know if it fixes your issues.

[2020-01-09 15:13] petrokarashchenko commented on #233
@claziss Thank you very much for fast response. I'm pulling latest changes and rebuilding toolchain. I will feedback you asap.
Meanwhile I was looking into specified changes and noticed `"mov\\t0,mhi\t;wait until multiply complete."`. Is `mhi` a typo? Or `mov	0, mlo` and `mov	0, mhi` are equivalent in terms of stall?

[2020-01-09 15:19] claziss commented on #233
you are right is a typo, I'll push a fix asap :")

[2020-01-09 15:20] claziss commented on #233
done

[2020-01-09 19:46] shahab-vahedi commented on #225
This is a problem in GDB's TUI and a [bug has been submitted](https://sourceware.org/bugzilla/show_bug.cgi?id=25345). This [patch](https://sourceware.org/git/?p=binutils-gdb.git;a=commit;h=cbfa85811792ca8e96ace40bef0aaaf507e54bcc) takes care of half of it and soon there is going to be another [one](https://sourceware.org/ml/gdb-patches/2020-01/msg00438.html) to close it for good.

[2020-01-10 10:30] petrokarashchenko commented on #233
@claziss I have rebuild the toolchain. With latest patch applied I get next code generated with `-mmul64 -Os`
[code]

[2020-01-10 10:36] petrokarashchenko commented on #233
So the issue seems to be fixed

[2020-01-10 11:26] petrokarashchenko commented on #232
In this particular code snipped the workaround is to use `-fno-if-conversion2`. It is very strange, but code with `-fif-conversion2` is:
[code]
and with `-fno-if-conversion2` is
[code]
so difference is only in `st_s	r1,[r0,8]` vs `st.di	r1,[r0,8]`.

I have disabled `if-conversion2`, but now my code does not work in another places. Will look for further code snippets that have `.di` discarded due t

[2020-01-10 15:07] #233 closed

[2020-01-10 15:12] petrokarashchenko commented on #232
Using next options makes code works as expected.
[code]
Just a backbox test. But need to compare assembly further for code samples.

[2020-01-10 15:42] claziss commented on #232
I have something in crafting process. I may be able to release it somewhere next week in the first part.

[2020-01-10 18:01] petrokarashchenko opened #234 "Wrong code is generated when -fcprop-registers option is used"
Example:
[code]
Compilation options:
[code]
Result assembly:
[code]
Code seems to be ok, but is actually does not work. I'm getting `0` inside `f2()` with non-zero `p` and `a`.
Inside ELF file I'm getting next disassembly:
[code]
The strange thing for me is `ACCH`??? I actually meet this in quite many places. In:
[code]
I'm getting `1cfc bec8           	st.aw	ACCH,[sp,-4]` in ELF, but ` 1CFC BEC8

[2020-01-10 18:01] petrokarashchenko commented on #234
CC @claziss @abrodkin @fbedard

[2020-01-10 18:06] petrokarashchenko commented on #232
@claziss Thanks. Looking forward to try you craft results ;)

[2020-01-10 19:36] petrokarashchenko commented on #234
One more strange thing for me use that in GCC code I see
[code]
but in ELF dump for `__attribute__((interrupt ("ilink1")))` function I see:
[code]
I mean `1CFC BE48 		st.a	mlo,[sp,-4]	;26` -> `1cfc be48           	st.aw	r57,[sp,-4]` and `260A 7E40 		mov	0,mlo	;wait until multiply complete.` -> `260a 7e40           	mov	0,r57`. Is this ok?

[2020-01-10 21:55] petrokarashchenko commented on #234
I just have checked `1cfc bec8` seems to be a correct instruction for `st.aw	mhi,[sp,-4]`.
But seems that `2B84 7A0F` does not seems to be valid for `mul64 	0, mlo, 1000`.

[2020-01-10 21:56] petrokarashchenko commented on #234
`ACCH` seems to be `arceb-elf32-objdump` issue.

[2020-01-10 22:35] petrokarashchenko commented on #234
Yeah. Code for `mul64 0, mlo, 1000` should be `2984 7A0F`, but not `2B84 7A0F`.
`2B84 7A0F` use `r59` instead of `r57` (`mlo`). So now I still have questions to `mlo`/`mhi` assignment for ARC600

[2020-01-10 22:49] petrokarashchenko commented on #234
So maybe it is correct to use `r57` and `r59` for `mlo`/`mhi` aliases?
[code]

[2020-01-11 19:23] petrokarashchenko commented on #234
After applying https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/pull/84 I'm getting `2984 7A0F` generated for `mul64 0, mlo, 1000`. `arceb-elf32-objdump` also shows correct disassembly. I will test my code on underlying hardware early next week.

[2020-01-13 13:38] claziss commented on #234
I think I have a solution for this issue:
[code]

[2020-01-13 13:41] claziss commented on #234
The patch will come soon. It is a bit more extended than fixing this issue in particular, but it solves (I think) the r58/r57/r59 confusion for big-endian, and this one.

[2020-01-13 14:06] claziss commented on #234
Patch pushed to 2020.03 branch:
https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/commit/a0a4161f1af3eea4298d688ad8aedc64ec0afded

For ACCL issue, you need to use 2020.03 binutils branch:
https://github.com/foss-for-synopsys-dwc-arc-processors/binutils-gdb/tree/arc-2020.03

Please let me know how does it works.

[2020-01-13 14:09] claziss commented on #234
@abrodkin Please close it as soon as @petrokarashchenko  is ok with the patch and we get nightly builds without regression using 2020.03 branch.

[2020-01-13 14:16] claziss commented on #206
Fixed in mainline and 2020.03:
https://sourceware.org/git/gitweb.cgi?p=binutils-gdb.git;a=commit;h=39fe16e0780ac85a8907e9ad9a38b88066674b03

[2020-01-13 14:16] #206 closed

[2020-01-13 16:06] petrokarashchenko commented on #234
@claziss after taking recent changes I observe another issue.
CC options:
[code]
C Code:
[code]
Generated ASM:
[code]
So compiler generates `2944 767E 		mul64	0,mlo,25` instead of `2984 7a0f           	mul64	0,mlo,1000`

[2020-01-13 16:18] petrokarashchenko commented on #234
@claziss My bad. code seems work as expected. Seems that compiler splits `1000` into `25 * 40` and compensate `* 40` with `add2_s	r0,r0,r0` and `asl_s r0,r0,3`.

So I think the issue is fixed

[2020-01-13 16:23] claziss commented on #234
u use `-Os` :) with `-O1` you will get my code :)

[2020-01-13 16:24] petrokarashchenko commented on #234
@claziss Yes. You are right. I just want to make sure that other options will work :) Thanks for support! I confirm that this issue is fixed

[2020-01-13 18:28] petrokarashchenko commented on #234
Anyway this is very strange "size" optimization that generates three instructions instead of one ;)

[2020-01-13 19:46] claziss commented on #234
Some time 3 short (3x2 = 6 bytes) instructions are better than one long one (8 bytes). I'll check the costs to see why is so in your case.

[2020-01-14 09:14] abrodkin commented on #220
@claziss I guess we need to bump a milestone to `2020.03` as proper fix was not done yet and then it's not in 2019.09, right?

[2020-01-14 09:15] abrodkin commented on #221
@claziss, @petrokarashchenko I guess we need to bump a milestone to `2020.03` as proper fix was not done yet and then it's not in 2019.09, right?

[2020-01-14 13:31] claziss commented on #193
A simple register cleanup patch here:
https://github.com/foss-for-synopsys-dwc-arc-processors/newlib/commit/56c86e63af1253a2ce52a2be3247e09d342becb7

[2020-01-14 13:53] claziss commented on #234
The mul64 costs was a bit off. I've updated its cost here:
https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/commit/fcd7c37208638c629370f1265540eaba39afd29f

[2020-01-14 13:58] petrokarashchenko commented on #234
@claziss thanks. I will verify and feedback.

[2020-01-14 14:00] petrokarashchenko commented on #234
@abrodkin anyway I think this issue can be closed as soon as your internal tests are passed on `2020.03` branch. Cost of instruction is a separate story.
@claziss thank you for improvement

[2020-01-14 23:31] shahab-vahedi commented on #223
commit [6df4907](https://github.com/foss-for-synopsys-dwc-arc-processors/binutils-gdb/commit/6df4907808984673d7081ce8b63c15c35e6d5189) fixes this.

[2020-01-14 23:31] #223 closed

[2020-01-15 07:01] petrokarashchenko commented on #221
I have closed PR that I have made. Changes were dummy ;)
It handled struct members, but case
[code]
still generates wrong code
[code]

Looking forward to get proper fix from @claziss

[2020-01-15 13:37] claziss commented on #232
I've made a new approach for direct access. It may not be as optimal as previous, but it should conserve the _uncached_ attribute until code gen. Patch here:
https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/commit/2080016aa654d7d4b8dc4fddc1e151d5ffa35d54

[2020-01-15 13:39] claziss commented on #221
This patch should resolve this:
https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/commit/2080016aa654d7d4b8dc4fddc1e151d5ffa35d54

[2020-01-15 13:39] claziss commented on #220
This issue should be fixed here:
https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/commit/2080016aa654d7d4b8dc4fddc1e151d5ffa35d54

[2020-01-15 15:49] petrokarashchenko commented on #221
@claziss thank you very much for such huge improvement.
I have tested most of the code parts that had problems. Those are fine.

But now I'm getting some strange issue. I have next code in `test.c`
[code]
The compilation of `test.c` never ends.
My compiler options are next:
[code]

[2020-01-15 16:14] shahab-vahedi commented on #224
Issue #223 seems to be unrelated to this one. The crash of qemu is [a bug](https://github.com/foss-for-synopsys-dwc-arc-processors/qemu/issues/97) in our qemu. The only issue here is GDB is not respecting `general` group. I am investigating that now.

[2020-01-15 16:30] petrokarashchenko commented on #221
Changing `-Os` to `-O2` makes issue disappear.

[2020-01-15 16:37] petrokarashchenko commented on #221
But with `O2` I'm getting compilation stuck in other files. Need to evaluate code samples

[2020-01-16 12:58] petrokarashchenko commented on #221
All my issues related to `uncached` attribute are fixed using latest commits from `2020.03` gcc branch

[2020-01-16 12:58] petrokarashchenko commented on #220
All my issues related to `uncached` attribute are fixed using latest commits from `2020.03` gcc branch

[2020-01-16 12:58] petrokarashchenko commented on #232
All my issues related to `uncached` attribute are fixed using latest commits from `2020.03` gcc branch

[2020-01-16 13:47] claziss commented on #234
@petrokarashchenko  I've rebased/merged the commits in 2020.03. Please find them there.

[2020-01-16 13:48] claziss commented on #232
@petrokarashchenko I've rebased/merged/fixed the 2030.03. Please refer to the latest. I'll close this issue, and keep only one.

[2020-01-16 13:48] #232 closed

[2020-01-16 13:49] claziss commented on #220
@petrokarashchenko I've rebased/merged/fixed the 2030.03. Please refer to the latest. I'll close this issue, and keep only one.

[2020-01-16 13:49] #220 closed

[2020-01-16 13:50] claziss commented on #221
@petrokarashchenko I've rebased/merged/fixed the 2030.03. Please refer to the latest. I'll close this issue, and keep only one.

[2020-01-16 13:50] #221 closed

[2020-01-16 13:52] claziss commented on #234
In 2020.03 we have:

Uncached patches:
3264bc9a3e6 [ARC] Fix pending errors with uncached type attribute.
e69526effeb [ARC] Propagate uncached type attribute to each member of a struct.

Miscellaneous patches:
bd63435df5b [ARC] Update ARC600 multiplication cost.

ISR patches:
1ec61c8280a [ARC] Fixing mlo/mhi register selection when big-endian
6a644c35dac [ARC] Save mlo/mhi registers when ISR.

[2020-01-16 14:49] petrokarashchenko commented on #234
@claziss I've seen that you rebased and rewritten patches a bit. I will pull latest changes, verify and feedback if all is ok.

[2020-01-16 15:03] petrokarashchenko commented on #234
With changes before rebase I was getting next output at some point:
[code]

I will re-check with latest changes and feedback

[2020-01-16 15:19] petrokarashchenko commented on #234
On latest changes getting
[code]

[2020-01-16 16:51] claziss commented on #234
Please can u make a small c-program with the issue? U can use creduce to get the minimal.

[2020-01-16 17:10] petrokarashchenko commented on #234
Here is an example:
[code]
Compiler options:
[code]

[2020-01-16 17:13] petrokarashchenko commented on #234
Error is
[code]

[2020-01-16 20:18] claziss commented on #234
@petrokarashchenko I've pushed a small fix. Please let me know if you have any other issue :)

[2020-01-17 08:12] petrokarashchenko commented on #234
@claziss That one is fixed :) But now have another one
[code]

I will evaluate for code samples

[2020-01-17 08:54] claziss commented on #234
Done, please check the new small patch (I thought you will hit it :) ). If you can to produce a small example will be great.

[2020-01-17 09:57] petrokarashchenko commented on #234
Code sample is next:
[code]
Currently I'm verifying your patch. Will feedback ASAP

[2020-01-17 10:44] petrokarashchenko commented on #234
@claziss This issue is fixed with your last patch.
But let me few days to use latest version more extensive and see if it is ok. Currently I have some C code that I expect to work, but getting unexpected behaviour. I need some time to evaluate is it my mistake or compiler issue.

[2020-01-20 13:47] Karadarya opened #235 "Can't reference MWDT-specific 64bit operations when linking library built with MWDT to application built with GCC"
We have a library for ARC EM (embarc_mli) that is built with MetaWare (and can’t be built with gcc). Some functions in that library operate 64 bit int values, so they use specific Metaware functions to emulate missing hardware functionality.
We want to use GNU toolchain to build applications that use embarc_mli library. But when I try to link application with the library it fails because it can’t

[2020-01-20 15:54] shahab-vahedi commented on #224
This is an upstream issue and [a fix has been proposed](https://sourceware.org/ml/gdb-patches/2020-01/msg00610.html).

[2020-01-22 14:14] shahab-vahedi commented on #226
This is an upstream issue and a [fix has been proposed](https://sourceware.org/ml/gdb-patches/2020-02/msg00127.html).

[2020-01-23 14:29] petrokarashchenko commented on #234
@claziss I have found one more issue.
having function with `__attribute__ (("ilink1"))` and compile with `-Os -g`.
I'm getting next output:
[code]

[2020-01-23 17:36] claziss commented on #234
already fixed :) I'll rebase 2020.03 tomorrow with the patch

[2020-01-23 21:01] petrokarashchenko opened #236 "Strange behaviour of % operation with -mmul64 option enabled"
I have next C code:
[code]
Compilation options are:
[code]
Output assembly:
[code]
I didn't have time to deep dive into assembly analysis, but what I observe is that code is hitting "MY_ASSERT" and I see "ASSERT 0x27100" printed.

[2020-01-23 21:01] petrokarashchenko commented on #236
@claziss could you please take a look

[2020-01-23 22:20] petrokarashchenko commented on #236
Actually I was expecting to see a king of `*udivmod*` call.

[2020-01-23 22:21] petrokarashchenko commented on #236
Also in generated code there is a line `230A 0EC0 		mov	r3,mhi	;5`, but `r3` is not referenced in any place further.

[2020-01-24 09:31] shahab-vahedi commented on #225
The issue is solved upstream:

[GDB: Fix the overflow in addr/line_is_displayed()](https://sourceware.org/git/?p=binutils-gdb.git;a=commit;h=cbfa85811792ca8e96ace40bef0aaaf507e54bcc)
[gdb/tui: Prevent exceptions from trying to cross readline](https://sourceware.org/git/?p=binutils-gdb.git;a=commit;h=2f267673f0fdee9287e6d404ecd4f2d29da0d2f2)
[gdb/tui: asm window handles invalid memory and scrolls b

[2020-01-24 09:42] claziss commented on #236
I'll look into. However, `r3` holds the high part of the multiplication, which as far as I can see it is not needed. Indeed it is a problem that is there and not eliminated.

[2020-01-24 09:46] petrokarashchenko commented on #236
I see that
[code]
is fully valid for `x = p->a * p->b;`, but I wonder if
[code]
correctly implements `x % 1000 == 0`

[2020-01-24 09:46] claziss commented on #236
About the division, the compiler will always optimize a division to a known constant to a multiplication with a constant. It is more efficient.

[2020-01-24 09:53] claziss commented on #236
Plz can u provide some values for which the division fails?

[2020-01-24 09:55] petrokarashchenko commented on #236
`x` after multiply is equal to `0x27100`. I will check for `p->a` and `p->b` values

[2020-01-24 11:13] shahab-vahedi commented on #225
it has been rebased with yet one [tiny issue](https://sourceware.org/ml/gdb-patches/2020-01/msg00780.html).

[2020-01-24 11:13] #225 closed

[2020-01-24 11:23] claziss commented on #236
I think I found it!
we generate:
[code]
and it should be:
[code]

[2020-01-24 11:42] petrokarashchenko commented on #236
I think just need to be careful with `r2` because it is used further in `lsr_s r2,r2,6` and `mul64	0,r2,1000`.
Need to try to reconstruct the algorithm in pseudocode and check for ARC registers are mapped into pseudocode

[2020-01-24 11:48] claziss commented on #236
The `lsr` instruction needs to take the high part of the `mulu64` operation, but how the mhi/mlo are not swapped accordingly to the endianess you end up in having the wrong register chosen (the compiler thinks `mlo` is the *hi* part of the `mulu64` operation.

[2020-01-24 11:51] petrokarashchenko commented on #236
So maybe need to `lsr_s r3,r3,6`

[2020-01-24 11:52] petrokarashchenko commented on #236
Anyway seems to be a register swapping issue

[2020-01-24 12:03] claziss commented on #236
Got this:
[code]

With this patch:
[code]
Please apply this patch and let me know how does it works.

[2020-01-24 12:08] claziss commented on #236
I need to change more patterns to reflect the mlo/mhi oddity :) so the above patch is not final :)

[2020-01-24 12:38] petrokarashchenko commented on #234
@claziss could you please rebase `2020.03` gcc branch, so I can take latest code and apply suggestion from https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/issues/236 ?

[2020-01-24 12:40] claziss commented on #236
Ok, I have a better patch, I need to make 1-2 simple tests and I will make a new push to 2020.03 branch.

[2020-01-24 15:05] petrokarashchenko commented on #236
Looking forward to try out new changes!

[2020-01-24 15:51] petrokarashchenko commented on #236
@claziss with your code sample I assume next
[code]
Seems to be correct. However `mov     r13,mlo` seems to be not needed. but maybe it is inserted to w8 while multiplication is complete

[2020-01-24 16:43] claziss commented on #236
I have rebased 2020.03. The patch which should solve this issue is here:
https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/commit/64fd1205b7eeff1f92cd24b1612de4bc835a2ffa

[2020-01-24 16:47] shahab-vahedi commented on #226
[second revision of the fix with a test](https://sourceware.org/ml/gdb-patches/2020-01/msg00815.html).

[2020-01-24 18:27] claziss commented on #236
with `-O2` the output code looks good:
[code]

[2020-01-27 09:29] petrokarashchenko commented on #236
@claziss now all my code works as expected. If your internal tests pass, then I think we can close the issue and mark as `2020.03` fixed

[2020-01-27 09:31] petrokarashchenko commented on #234
@claziss now all my code works as expected. If your internal tests pass, then I think we can close the issue and mark as `2020.03` fixed.

Thank you very much for support and great effort to resolve `__attribute__((uncached))` and `-mmul64` related issues!

[2020-01-27 09:59] #236 closed

[2020-01-27 10:00] #234 closed

[2020-01-31 10:13] shahab-vahedi commented on #225
And this [patch](https://sourceware.org/git/?p=binutils-gdb.git;a=commit;h=42330a681af23a80d3e1f201d2a65886875e74bd) completely resolves the issue (still we need a rebase at this point to get it in).

[2020-02-01 18:29] shahab-vahedi commented on #224
In [upstream](https://sourceware.org/git/?p=binutils-gdb.git;a=commit;h=aa66aac47b4dd38f9524ddb5546c08cc09930d37). Now it is a matter of rebase to get it in.

[2020-02-06 15:07] shahab-vahedi commented on #225
rebased.

[2020-02-06 16:59] shahab-vahedi commented on #226
The fix is [in](https://sourceware.org/git/?p=binutils-gdb.git;a=commit;h=1d5d29e73f4b5f1af4df5b6e39ccf2fa722acead).

[2020-02-06 16:59] #226 closed

[2020-02-10 11:34] mdsmith234 opened #237 "arc-elf32-g++ doesn't generate zero-overhead loop instructions"
arc-elf32-g++ (2018.09) doesn't generate zero-overhead loop instructions.

For this simple code:

  uint32_t acc = 0;
  for (uint8_t i=0; i<32; i++) {
    acc += (i << 8) ^ ~((1 << 6) + 0xdeadbeef);
  }

These instructions are generated:
 21e:	700c                	mov_s	r0,0
 220:	e29f                	cmp_s	r2,0x1f
 222:	20e0 07cd           	jhi	[blink]
 226:	2a40 0203           	asl	r3,r2,0x8
 22

[2020-02-10 13:13] shahab-vahedi commented on #237
This has been investigated with `arc-2019.09` release. Below follows the outcome:

For a build with these flags
[code]
The output is:
[code]

However, if you use `-O1` instead:
[code]
[code]
caveat emptor: The compiler does not necessarily guarantee a zero head overloop in any case.

[2020-02-10 13:13] #237 closed

[2020-02-11 11:51] claziss commented on #209
It is very strange the procedure which you have, it took me a while to realize it :) You want to create a dynamic library out of a static one. The linker will just throw the archive, and will create an empty library. You can easily see that from your example as the readelf command will not say a thing about `a.out` object. Hence, the empty dynamic lib is created using the default flags which in ou

[2020-02-11 11:51] #209 closed

[2020-02-11 13:40] shahab-vahedi commented on #222
A fix has been [proposed](https://sourceware.org/ml/gdb-patches/2020-02/msg00382.html) upstream.

[2020-02-13 09:24] claziss commented on #231
Supporting RF16 with existing GNU host I/O for nsim is not possible as the syscalls are using unsupported registers. For example:

[code]

As you can see `r8` is illegal for RF16 configuration. A solution is to switch for MWDT host I/O interface. However, we lack information on its specs.

[2020-02-13 18:03] vineetgarc commented on #231
AFAIKR, for reduced regfile configs, syscall number was in r4 - please check the ABI doc

[2020-02-24 08:36] shahab-vahedi commented on #222
The fix has been [merged upstream](https://sourceware.org/git/gitweb.cgi?p=binutils-gdb.git;a=commit;h=24ac169ac5a918cd82b7485935f0c40a094c625e) and rebased.

[2020-02-24 08:36] #222 closed

[2020-02-24 08:37] shahab-vahedi commented on #224
rebased in `binutils: arc-2020.03`

[2020-02-24 11:05] petrokarashchenko opened #238 "Can't access int_vector_base in assembly files for -mcpu=arc600"
I need to set-up base address for vector table with next instructions in assembly file
[code]
Production of object file fails with
[code]
As a workaround for now I have added `.extAuxRegister int_vector_base,0x25,   r|w`, but I think this should be fixed.

[2020-02-24 11:52] petrokarashchenko commented on #238
@abrodkin can we include this into 2020.03?

[2020-02-24 11:55] claziss commented on #238
As far as I can see in PRM, it is called:
`Interrupt Vector Base Register, INT_VECTOR_BASE`
If you use that name it should work.

[2020-02-24 11:59] petrokarashchenko commented on #238
I will try in uppercase.
I just got a quick look into `binutils/opcodes/arc-regs.h` and I can find only
[code]
So no definition for ARC600. Could this be a reason?

[2020-02-25 08:49] claziss commented on #238
Patch in mainline binutils. 2020.03 branch will be rebased soon to reflect it:
https://sourceware.org/git/gitweb.cgi?p=binutils-gdb.git;a=commit;h=265b467340e5334a682e47a0e1b69a80c4428349

[2020-03-04 15:37] shahab-vahedi opened #239 "[GDB/nSIM]: Connecting to nSIM remote stub is broken"
### Issue
For some binaries [1], when you connect GDB to nSIM's stub and then issue a "next" it will trigger an assert:
[code]

### Tested platforms
This is a table of different configurations tried:
| GDB                     | Simulator [2] | Outcome |
--------------------------|---------------|----------
| arc-2020.03      (v10+) | nSIM          | NOK     |
| arc-2020.03      (v10+) | QEMU

[2020-03-04 16:19] shahab-vahedi commented on #224
This patch is going to be [reverted](https://sourceware.org/ml/gdb-patches/2020-03/msg00088.html) [1], because it breaks backward compatibility.

Although the [documentation](https://sourceware.org/gdb/onlinedocs/gdb/Target-Description-Format.html#Target-Description-Format) clearly states that:
[code]
apparently many targets abused the bug in GDB and did not define any `group` for their registers

[2020-03-04 21:27] shahab-vahedi commented on #239
The problem in current GDB (arc-2020) seems to be about `do_target_wait()` clearing a global variable `inferior_ptid` and then later looking into one of its field (`m_ptid`) without setting it to anything:
[code]

From a call stack point of view, deep down in `do_target_wait_1()`:
[code]

To put it all together:

1. `do_wait` lambda invokes `switch_to_inferior_no_thread()` that sets `inferior_ptid

[2020-03-06 09:58] petrokarashchenko commented on #238
Could you please notify in this issue when rebase is done?

[2020-03-06 11:09] claziss commented on #238
Should be done. Please resync on 2020.03 binutils branch.

[2020-03-10 12:21] shahab-vahedi commented on #239
patch [gdb/remote: Restore support for 'S' stop reply packet](https://sourceware.org/git/?p=binutils-gdb.git;a=commit;h=24ed6739b699f329c2c45aedee5f8c7d2f54e493) from upstream resolves this issue. `binutils: arc-2020.03` has already been rebased with this change in.

[2020-03-10 12:21] #239 closed

[2020-03-10 17:26] vineetgarc commented on #240
Can this be please rerun against the latest release of tools to setup a baseline. As I mentioned some of the tests originally reported failing are passing now !

[2020-03-11 15:53] abrodkin opened #241 "[uClibc-ng-test] A lot of tests fail with enabled locale"
That's what we typically have these days in our verification (with enabled locale), see http://de02-resultsdb:8080/result.php?Project=28&pkey=8029:
[code]
while Waldemar gets much better results (though with locale seems to be disabled), see https://downloads.uclibc-ng.org/reports/1.0.33/REPORT.arcv2.libc.uClibc-ng-1.0.33:
[code]

And that's what we're seeing (see [uclibc.target.log](https://githu

[2020-03-13 03:31] pmgreco opened #242 "GCC: bug in config/arc/arc.c arc_print_operand() when using 64 bit big-endian hosted cross compiler"
I have found some bugs in the GCC compiler relating to ARC support when building / using a cross compiler on a host with 64 bit BE.  The problems are in:
<gccroot>/config/arc/arc.c: arc_print_operand() and are related to incorrect usage of the "%ld" format string in three places, where HOST_WIDE_INT_PRINT_DEC needs to be used instead.  When building the compiler warnings are emitted and incorrect

[2020-03-13 03:36] pmgreco opened #243 "GLIBC: ARC support does not seem to be in any mainline glibc release"
I cannot find a mainline tarball of glibc that contains sysdeps/arc (I looked in the latest glibc-2.31) -- so I am currently using one from https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_foss-2Dfor-2Dsynopsys-2Ddwc-2Darc-2Dprocessors_glibc&d=DwICaQ&c=jf_iaSHvJObTbx-siA1ZOg&r=9nrtBsp6WoQyhjyCmxwwoz7_A-dk6r2fRPXWzx4CNO0&m=dyiyYlHd_xpdbSerrAtFSF_4KXlbYk1PgWMP8-cAZbk&s=Q1JnLKXCbLaPl-D

[2020-03-13 05:37] vineetgarc commented on #243
We've already been working on upstreaming the glibc port to ARC. I posted the v3 patchset last week and v4 was posted few hours back.
http://lists.infradead.org/pipermail/linux-snps-arc/2020-March/007127.html

So rest assured it is in works and will finish in next weeks/months as the reviews / maintainers bless it.

[2020-03-13 05:37] #243 closed

[2020-03-16 14:08] #238 closed

[2020-03-16 15:00] claziss commented on #242
Patch proposed [here,](https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/commit/b5a253d120b3fea698acbd35b185de06aabc03c6) once passed internal testing, it will be upstreamed to mainline gcc.

[2020-03-25 13:55] abrodkin commented on #223
This is the same fix in `arc-2020.03` branch: https://github.com/foss-for-synopsys-dwc-arc-processors/binutils-gdb/commit/64e06e5b062a911d87987a7763669a076259a861.

[2020-03-25 14:22] abrodkin commented on #220
Fixed by https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/commit/fc5aa9c7be10d21206537161f2245c097e06f456 in `arc-2020.03`.

[2020-03-25 14:23] abrodkin commented on #221
Fixed by https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/commit/fc5aa9c7be10d21206537161f2245c097e06f456 in `arc-2020.03`.

[2020-03-25 14:25] abrodkin commented on #232
Fixed by https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/commit/fc5aa9c7be10d21206537161f2245c097e06f456 in `arc-2020.03`.

[2020-03-25 15:00] abrodkin commented on #233
Fixed by https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/commit/9c125d007561ad0c023e3e55cd31e0a9b6bc407f in `arc-2020.03`.

[2020-03-25 17:04] abrodkin commented on #236
Fixed by https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/commit/d7b5ac909bb6ee5c862f57c7fded5c38c1baf0c0 in `arc-2020.03`.

[2020-03-25 21:14] abrodkin commented on #222
Fixed by https://github.com/foss-for-synopsys-dwc-arc-processors/binutils-gdb/commit/24ac169ac5a918cd82b7485935f0c40a094c625e in `arc-2020.03`.

[2020-03-25 21:15] abrodkin commented on #225
Fixed by https://github.com/foss-for-synopsys-dwc-arc-processors/binutils-gdb/commit/42330a681af23a80d3e1f201d2a65886875e74bd in `arc-2020.03`.

[2020-03-25 21:17] abrodkin commented on #226
Fixed by https://github.com/foss-for-synopsys-dwc-arc-processors/binutils-gdb/commit/1d5d29e73f4b5f1af4df5b6e39ccf2fa722acead in `arc-2020.03`.

[2020-03-25 21:17] abrodkin commented on #239
Fixed by https://github.com/foss-for-synopsys-dwc-arc-processors/binutils-gdb/commit/24ed6739b699f329c2c45aedee5f8c7d2f54e493 in `arc-2020.03`.

[2020-03-26 13:55] falaleevms opened #244 "[GDB]: missing libmpfr.so.4 on Ubuntu:18.04"
Prebuilt `arceb-elf32-gdb` is linked with `libmpfr.so.4`. This library is available with `libmpfr-dev` package on Ubutnu. But since `Ubuntu:18.04` `libmpfr.so.4` was replaced by `libmpfr.so.6`.

As a workaround:
[code]

[2020-03-26 13:55] #244 closed

[2020-03-26 14:17] falaleevms opened #245 "GDB: building gdb on Darwin fails with "error: no member named 'abs' in namespace 'std'"`"
Building gdb from 2020.03-eng001 on Darwin fails with:
[code]
gcc used:
[code]

Seems the cause it this [commit](https://sourceware.org/git/gitweb.cgi?p=binutils-gdb.git;a=commit;h=3104d9ee223133b9f5be4ec96b3f986e4fbc893e)

Possible [solution](https://github.com/isovic/racon/issues/20)

[2020-03-26 15:09] shahab-vahedi commented on #245
I've taken a look into that file (`gdbtypes.c`) and others. There is no `#include <cpp_header_for_c>` in there (like `cstdio, cmath, etc.`). That's why I think the proposed [solution](https://github.com/isovic/racon/issues/20) might not be accepted.

@falaleevms could you submit this on [GDB's bugzilla](https://sourceware.org/bugzilla/)?

[2020-03-26 16:14] abrodkin commented on #245
Filed bug in GDB's Bugzilla: https://sourceware.org/bugzilla/show_bug.cgi?id=25731

[2020-03-26 16:30] abrodkin commented on #245
@shahab-vahedi the fix will be pushed to binutils-gdb shortly, could you please cherry-pick it to our `arc-2020.03` branches?

[2020-03-26 16:31] shahab-vahedi commented on #245
Sure!

[2020-03-26 17:45] shahab-vahedi commented on #245
@abrodkin Simon has suggested a [patch](https://sourceware.org/bugzilla/show_bug.cgi?id=25731#c4) for you to try.

[2020-03-26 21:46] petrokarashchenko opened #246 "Unexpected code is generated for __attribute__((uncached)) types"
I have next code snippet
[code]
I compile it with next options with compiler based on `2020.03` branch:
[code]
I'm getting next output:
[code]
Here I'm referring to second parameter passed to `my_func2` call. Seems the `b0->b2` access does not bypass cache

[2020-03-26 22:14] petrokarashchenko opened #247 "Unnecessary read call is generated in case of __attribute__((uncached)) types"
I have next code snippet:
[code]
I compile it with compiler based on `2020.03` branch with next flags:
[code]
I'm getting next result:
[code]
This is more optimisation related issue. I observe few issues here that for each assignment of constant to field in `__attribute__((uncached))` type the unnecessary `ld.di` (ldb.di) call is generated. `ldb.di	r0,[r1,5]` -> `stb.di	0,[r1,5]`.
`p1->x1 = 0xFFFF

[2020-03-27 09:27] claziss commented on #247
The "direct-accesses" are special in many ways.  One of its intrinsic properties is it's volatility. Hence, it cannot be fully optimized by the compiler. There is nothing which I can do for this issue.

[2020-03-27 09:27] #247 closed

[2020-03-27 09:39] petrokarashchenko commented on #247
Understood. Seems this is related not to "direct-access", but to `packed` attribute and data types with length higher than 1 byte. Because I do not see read instruction for `p1->x6 = 1;`, but only `stb.di	1,[r1,9]`.
So
[code]
is an attempt to resemble `uint32_t`

[2020-03-27 10:11] claziss commented on #246
The excess code is due to _aligned_ property of accesses in ARC600 processor. Also your structures are byte _aligned_  which means that all your accesses are done via _ldb_ or _stb_, which doesn't really help. You can quickly see that using `-munaligned-access` generates better code.  Of course loosing `.di` is a bug, which seems located in the part of the compiler which breaks down the 32-bit acc

[2020-03-27 10:20] petrokarashchenko commented on #246
@claziss the relaxing of _align_ property does not help. Actually I think for GCC `packed` means `aligned(1)`. At least when I change all `__attribute__((packed,aligned(1),uncached))` to `__attribute__((packed,uncached))` I'm getting same code generated.
[code]

I will try to experiment with `-munaligned-access` and feedback if it helps

[2020-03-27 10:31] petrokarashchenko commented on #246
@claziss `-munaligned-access` seems to generate better code and it does not drop `.di` suffix. But seems ARC600 does not support unaligned access. So I will need to wait for a fix with 32 bit value assembling. Also thank you for proposed workaround with 8 bit access and assembling by myself explicitly

[2020-03-27 13:23] petrokarashchenko commented on #247
This is not related to `uncached` attribute, but to `packed` attribute. I will fill a separate issue

[2020-03-27 13:30] petrokarashchenko opened #248 "Unnecessary read call is generated in case of volatile + __attribute__((packed)) types"
I have next code snippet:
[code]
I compile it with compiler based on 2020.03 branch with next flags:
[code]
I'm getting next result:
[code]
This is more optimisation related issue. I observe few issues here that for each assignment of constant to field in __attribute__((uncached)) type the unnecessary `ld` (`ldb_s`) calls are generated `ldb_s r0,[r1,5]` -> `stb_s r2,[r1,5]`.
`p1->x1 = 0xFFFFFF01;`

[2020-03-27 13:31] petrokarashchenko commented on #247
I have created https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/issues/248 for tracking

[2020-03-27 14:26] claziss commented on #248
Please use a different compiler option, for example `-O2`. In the example shown, the compiler optimizes for size, thus, favouring short instructions. Hence, your output.

[2020-03-27 14:30] claziss commented on #248
Please remark, you can add compiler options to your specific function via _optimize_ attribute. In this way you can "overwrite" the default compiler options, and tune your app accordingly.

[2020-03-27 14:32] petrokarashchenko commented on #248
Thank you @claziss I will try to apply suggestion. But I'm a bit confused how generation of extra `ldb_s` instructions is improving code size?

[2020-03-27 14:42] petrokarashchenko commented on #248
I just have tried
[code]
And I'm getting
[code]

[2020-03-27 14:49] petrokarashchenko commented on #248
So the case is actually why compiler generates instructions and do not use the result for `packed` types. It seems like an attempt to re-assemble `uint32_t`, but it is not needed.
So I'm expecting code to be generated:
[code]
instead of what I'm currently getting
[code]
So in current case 6 `ldb_s` instructions are extra (redundant) and can be omitted.

[2020-03-27 15:39] claziss commented on #248
Regarding your original question, if you don't use `volatile` you get with `Os`:

[code]

It seems to me pretty optimized.

[2020-03-27 15:49] petrokarashchenko commented on #248
@claziss It is optimised as well if I remove `__attribute__((packed))`.
[code]
So seems to be a `volatile` + `__attribute__((packed))` combo issue

[2020-03-27 15:52] petrokarashchenko commented on #248
So seems like I have written before the `uint32_t` reassemble is started because of `volatile`+`__attribute__((packed))`, but then it is discarded and `stb_s` is issued.

[2020-03-27 15:58] claziss commented on #248
Please remark that not using `packed` you will get some optimization in place due to alignment, like using 32-bit accesses. If you abstract this up, you will get the same code like I wrote above.
IMHO, there is no problem with the compiler, using `volatile` prohibits a number of optimization. But on the other hand, this is what `volatile` does.

[2020-03-27 16:44] petrokarashchenko commented on #248
@claziss Agree. This is very tricky moment of accessing volatile data type with size greater than 1 byte. From one perspective it needs to write a value to a single 4 byte unit and from another can't access it with a single instruction. From my knowledge about `volatile` qualifier, on writing it ensures that value is written to memory (not stored in register) and on read it ensures that value is r

[2020-03-27 17:02] petrokarashchenko commented on #248
@claziss Seems that I have found out the root cause. I have tried to compile with `-O0`.
[code]
Seems that initial code is
[code]
and `or	r3,r3,-1` is optimised into `mov r2,-1` for other cases, but `ldb_s r3,[r2]` is still kept.
Taking into account this I still think that even code generated with `-O0` is incorrect and only `stb_s` instructions should be generated or loading of `0xFFFFFF01` -> `-

[2020-03-29 09:41] petrokarashchenko commented on #248
@claziss I just have checked that same code is generated for ARM as well, so this seems to be a "standard" (as it is now) GCC behaviour. So I think I will need to report with to GCC Bugzilla. I will update this issue with a link to bugzilla and close the issue here.

[2020-03-29 14:29] petrokarashchenko commented on #248
Issue submitted to GCC Bugzilla: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=94387
Close it there and wait to get it fixed in mainline.

[2020-03-29 14:29] #248 closed

[2020-03-30 11:43] abrodkin opened #249 "doc: Generate release documentation with rst2pdf"
We build GNU_Toolchain_for_ARC.pdf from .rst sources located on GitHub (https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/tree/arc-releases/doc) by Sphinx.

And Sphinx by default cannot generate .pdf files directly, thus we used to generate LaTeX files first and then .pdfs from them. The problem is LaTeX tools are a mess and have tons of dependencies so that it's not possible to in

[2020-03-30 12:56] EvgeniiDidin opened #250 "GDB server missing in arc-2020.03-rc1."
On recent arc-2020.03-rc1 toolchain **gdbserver** is missing.
[code]

[2020-03-31 16:27] abrodkin commented on #250
Fixed by https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/commit/721c21f13bb6249b12d5f2b3560cdd9458c0b9b5.

[2020-03-31 16:27] #250 closed

[2020-04-01 07:36] claziss commented on #246
Alternatively, you can use `-mno-volatile-cache` option with your particular function to generate `.di` accesses whenever a variable is volatile. This can be used as a work-around for the time being.

[2020-04-01 09:47] petrokarashchenko commented on #246
@claziss Thank you. Actually applying `-mno-volatile-cache` helps and I'm getting my code working  as expected. I have few `volatile` variables that are shared between main thread and ISR and do not require `.di` access, but getting `.di` for those is a valuable trade-off for getting other parts of code running as expected.
Looking forward to get issue fix in one of next releases, so I can drop `-

[2020-04-02 15:00] EvgeniiDidin opened #253 "Eclipse plugins ver. arc-2020.03-rc1 do not apply."
Applying eclipse plugins in IDE fails with error:
[code]
These plugins were built from "master" branch of https://github.com/foss-for-synopsys-dwc-arc-processors/arc_gnu_eclipse repository, which seems to be broken.

Applying plugins built from "arc-2019.09" branch finishes without any errors.

[2020-04-03 07:13] anthony-kolesov commented on #253
Master branch has updated versions of plugins with newer requirements, please try using Eclipse IDE of version at least 2019-09 - they should install into it.

[2020-04-03 15:33] shahab-vahedi commented on #227
I guess this was fixed after a rebase. Not reproducible in `arc-2020.03` and later.

[2020-04-03 15:33] #227 closed

[2020-04-06 16:54] falaleevms opened #255 "Eclicpse: arc plugins don't work in arc-2020.03-rc1"
Eclipse arc plugins bundled in arc-2020.03-rc1 are not usable:
Should be:
![MicrosoftTeams-image](https://user-images.githubusercontent.com/28342150/78584040-4d662000-7840-11ea-8775-a9464c17ee86.png)

But in fact we have only:
![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/28342150/78583913-24458f80-7840-11ea-9e2b-f72e0863fdfb.png)

[2020-04-06 22:15] falaleevms opened #256 "Releasing process: implement release checklist as gitlab issue with checkboxes"

[2020-04-07 07:45] anthony-kolesov commented on #255
Eclipse version is too old - 2018-12-R, should be 2019-09 at least.

[2020-04-07 16:59] EvgeniiDidin commented on #255
Using Eclipse 2020.03 requires there are three steps required for successful installation of ARC plugins.

1) installation of **"jre"** files.
For Linux in **"eclipse"** directory run ```
tar xf OpenJDK11U-jre_x64_linux_openj9_11.0.4_11_openj9-0.15.1.tar.gz --transform=s/jdk-11.0.4+11-jre/jre/```
In Windows unzip and rename to **"jre"** contents of OpenJDK11U-jre_x64_windows_openj9_11.0.4_11_openj

[2020-04-08 21:35] EvgeniiDidin opened #259 "Link failure for --specs=emsk_em9d.specs"
[code]

Builds perfectly fine with `arc-2019.09`:
[code]

Fails with `arc-2020.03`:
[code]

[2020-04-09 11:01] petrokarashchenko commented on #246
Unfortunately usage of `-mno-volatile-cache` brings new issue. As I have mentioned I have few `volatile` variables that are `cached`, but with `-mno-volatile-cache` become `uncached`. All other cases that I'm using `volatile __attribute__((uncached))` attributes I'm using with pointers to specially allocated "cache safe" (cache line size aligned for both address and memory chunk size) regions. So

[2020-04-09 11:19] petrokarashchenko commented on #246
The workaround can be go thru the code and mark all `volatile` variables and place into a separate `section` and align section in linker script

[2020-04-09 12:26] abrodkin commented on #259
@shahab-vahedi could you please look at this one? Might have something to do with a newlib.

[2020-04-09 12:59] abrodkin commented on #259
@EvgeniiDidin I guess you may reproduce that problem w/o Eclipse with only a simple test source and the same command line, right?

[2020-04-09 13:14] EvgeniiDidin commented on #259
@abrodkin Yes, it reproduces outside Eclipse as well.

[2020-04-09 21:27] abrodkin commented on #255
Fixed now in `arc-2020.03-rc1` re-spin with update of the Eclipse and JRE.

[2020-04-09 21:27] #255 closed

[2020-04-09 21:28] abrodkin commented on #253
Fixed now in `arc-2020.03-rc1` re-spin with update of the Eclipse and JRE.

[2020-04-09 21:28] #253 closed

[2020-04-09 21:30] abrodkin commented on #249
Fixed with https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/pull/251

[2020-04-09 21:30] #249 closed

[2020-04-09 21:34] abrodkin commented on #193
Fixed with the commit mentioned above.

[2020-04-09 21:34] #193 closed

[2020-04-10 07:49] abrodkin commented on #245
The first patch posed on GDB's mailing list: https://sourceware.org/pipermail/gdb-patches/2020-April/167501.html.

[2020-04-10 21:31] petrokarashchenko commented on #246
@claziss I'm wondering on how `-mno-volatile-cache` makes compiler to generate correct code. I was looking in the code and found that it seems to manipulates only with `VOLATILE_CACHE_SET`  and it is only checked for `compact_..._operand` selection, but that influence inly on size optimisation. I can't find how `-mno-volatile-cache` works to generate `.di` instructions for `volatile` access.

[2020-04-11 09:45] claziss commented on #246
It just check if the variable is `volatile`, if so, the `.di` is generated.

[2020-04-11 11:20] petrokarashchenko commented on #246
Some more reference cases. Somehow if the first member of a struct is accessed, then compiler generates correct code, but for all other members the code is incorrect:
[code]
with options: `arceb-elf32-gcc -save-temps -Wall -Wextra -c -mcpu=arc600 -mtune=arc600 -mbig-endian -mmul64 test.c -O0`
I'm getting output:
[code]

[2020-04-11 11:23] petrokarashchenko commented on #246
Also code:
[code]
and code
[code]
Generates same output

[2020-04-13 08:09] petrokarashchenko opened #261 "Uncached access generated for cached memory variable"
Hi,

I'm exploring changes in https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/commit/fc5aa9c7be10d21206537161f2245c097e06f456 and have question related to changes in `gcc/testsuite/gcc.target/arc/uncached-1.c` and `gcc/testsuite/gcc.target/arc/uncached-2.c`. Why `/* { dg-final { scan-assembler-times "ld\.di" 1 } } */` was changed to `/* { dg-final { scan-assembler-times "ld\.di" 2 } }

[2020-04-13 08:10] petrokarashchenko commented on #261
CC: @claziss

[2020-04-13 08:19] petrokarashchenko commented on #261
Also I have tried the next code:
[code]
and got next assembly generated:
[code]
So here was not expecting `ld.di	r2,[r2]`

[2020-04-13 13:00] shahab-vahedi commented on #259
What was the command used to build this toolchain?
[code]

[2020-04-13 13:07] abrodkin commented on #259
@falaleevms could you please comment on Shahab's question?

[2020-04-13 14:00] shahab-vahedi opened #262 "[BUILD] Building the toolchain does not build/install libdw_uart.a"
### versions
[code]

### build command
[code]
### problem
Building a hello world program with a command like below fails:
[code]

### investigation
Building the toolchain with the above commands, although creates this directory
[code]

It never compiles the `dw_uart`. Executing `make` command in that directory does build some `.o` files, but not `libdw_uart.a` in parent directory of course.

### e

[2020-04-13 14:24] shahab-vahedi commented on #262
If I remove `--no-multilib` from the build command, then the `libdw_uart.a` are built:
[code]

**But** still the `libdw_uart.a` files are not installed in the `INSTALL/lib` directory. Execution of a manual `make install` inside the `newlib`'s build directory is not helpful either.

[2020-04-13 20:31] shahab-vahedi commented on #259
I cannot investigate this further until #262 is resolved.

[2020-04-13 20:55] falaleevms commented on #259
@shahab-vahedi, this command was used:

[code]

[2020-04-14 11:57] shahab-vahedi commented on #259
Still with these build args, I end up with no _uart_ library and hence the error in #262 .

[2020-04-21 14:09] robfallone opened #263 "[GDB] Add Support for the Generating & Loading Core Files on Bare-Metal Apps"
We'd like to have the ability to load core-file dumps that are obtained from devices in service in the field and we'd like to be able to generate them when a debugger is connected. Our application is a bare-metal application, it is not running linux. We should be able to use GDB's "generate-core-file" command and feed that core file back into GDB at a later time to debug.

[2020-04-22 08:11] claziss commented on #263
Generating core-file dumps is, usually, specific to Linux environments. Do you use OpenOCD to connect to the chip?

[2020-04-22 13:08] craigblackmore commented on #263
I have recently implemented bare-metal core dump for RISC-V and I'm working on upstreaming it in the near future. It works using GDB's `gcore` and `gdb <binary-file> <core-dump>` commands and is suitable for any target supporting the GDB Remote Serial Protocol.

Some target-specific additions would be needed to make this work for ARC, mostly around handling the dumping and loading of ARC's registe

[2020-04-24 11:46] shahab-vahedi commented on #263
Could you please provide more data? What ARC configuration(s) do you exactly use? Are you using OpenOCD? etc.?

[2020-04-25 18:50] petrokarashchenko commented on #246
@claziss I was able to narrow down the issue to a single line. It is located in `gcc/emit-rtl.c` file in `adjust_address_1` method. `packed` attribute types member access is expanded into a set of `MEM_REF`'s plus byte offsets. `MEM_REF`'s of first 4 bytes inherit expression of original instructions, but if offset goes above 4, the expression is dropped, hence attributes are dropped as well. `vola

[2020-04-25 18:59] petrokarashchenko commented on #261
I think that currently GCC does not have mechanism to distinguish if attribute is placed before or after `*`, hence differ type attributes vs variable attributes. I have reported similar issue for `aligned` attribute for GCC in https://gcc.gnu.org/bugzilla/show_bug.cgi?id=94662 however I do not expect that will ever be fixed. So I believe this issue will be not fixed as well.

[2020-04-25 18:59] #261 closed

[2020-04-27 12:53] abrodkin commented on #245
At this point mailing list discussion stopped here: https://sourceware.org/pipermail/gdb-patches/2020-April/167515.html

[2020-04-27 14:17] abrodkin commented on #245
@shahab-vahedi could you please cherry-pick the fix (https://sourceware.org/git/?p=binutils-gdb.git;a=commit;h=ff8885c3be6f42ed90a7b0ec0028fad26861cd94) from upstream to our Binutils' `arc-2020.03` branch?

[2020-04-28 08:03] shahab-vahedi commented on #263
@robfallone ?

[2020-04-28 08:04] shahab-vahedi commented on #263
@craigblackmore Thanks for the info. I will keep an eye on this, when it is merged upstream.

[2020-04-28 08:22] shahab-vahedi commented on #245
[done](https://github.com/foss-for-synopsys-dwc-arc-processors/binutils-gdb/commit/41dcc5f2bf440bbd782ebe0c29ad2d88eb047d93).

[2020-04-28 08:22] #245 closed

[2020-04-29 12:37] petrokarashchenko opened #264 "[Enchantment] Add compiler option to for uncached object placement"
If will be good if we can add compiler option for ARC to group all variables that are declared with `__attribute__((uncached))` into a single sections `".udata"` and `".ubss"` (similar to `".sbss"` or `".sdata"`) so it will be possible to make section placement in linker script and handle cache alignment issue.

[2020-04-29 16:05] claziss commented on #264
Doesn't [`section`](https://gcc.gnu.org/onlinedocs/gcc/Common-Variable-Attributes.html#Common-Variable-Attributes) attribute solve this issue?

[2020-04-29 16:13] petrokarashchenko commented on #264
Some how yes. But in code the need to track all variables with uncached access gets risen. I mean if I `typedef volatile __attribute__((uncached)) int uncached_int;`, then in all places new type is used programmer need's not to forget to place `section` attribute, otherwise code get's screwed up. The better way will be having an option, so section attribute is added automatically to all variables

[2020-04-29 16:16] petrokarashchenko commented on #264
I mean it will be good to have an option so `section` attribute to be added implicitly for all variables that are declared with `uncached` attribute. Similar to MetaWare compiler `Uncached_in_own_section`.

[2020-04-29 16:21] petrokarashchenko commented on #264
It is just an idea. I just thought about `-fdata-sections`, so `.ucdata.` or `.ucbss.` can be appended. But I do not fully understand the effort that is needed to get such enchantment.

[2020-04-30 07:35] joejohnpaulines opened #265 "getting a warning while building the imported embARC example project in GNU IDE 2020.03-RC1"
We are getting a below arc plugin warning when we build an imported the embARC 2019.06 example project on GNU 2020.03 ide.  Please check the details here.

![image](https://user-images.githubusercontent.com/52485302/80681886-2c12ef80-8adf-11ea-835c-10fdfb69a016.png)

**Tools Version**

embARC 2019.06 :  https://github.com/foss-for-synopsys-dwc-arc-processors/embarc_osp/archive/2019.06.tar.gz
GNU I

[2020-04-30 09:17] claziss commented on #264
Shouldn't be too much of a hassle.

[2020-05-02 00:33] vineetgarc opened #266 "[gdb] single step from RTIE to userspace"
when debugging qemu issue 112, was trying to single step out of exception handler to user space but it doesn't (and continues to run unless another kernel break point is hit)

[2020-05-04 12:53] shahab-vahedi commented on #266
I have tried this with a baremetal program while using QEMU as the debug server. It seemed working:

![user_land](https://user-images.githubusercontent.com/16524902/80967491-c09a8c00-8e16-11ea-8a4e-a632a4b29e92.gif)

Could you share with me more details on how you run into this?
I've also added the codes if you want to dabble in it:
[arc-rtie-vineet.zip](https://github.com/foss-for-synopsys-dwc-ar

[2020-05-04 20:09] vineetgarc commented on #266
Can u try this with a linux kernel debug session - put a break point on ret_from_exception and try single stepping all the way through rtie and see if it steps into user space.
If the basic test works, perhaps my issue might be that I have not done add-symbol-file <user-space-dso>.

[2020-05-04 20:29] cupertinomiranda commented on #266
@vineetgarc, I believe that is the case. Indeed I think you need to do the add-symbol-file to the userspace application in order for it to be able to perform the unwinding correctly.

I think I was able to do it when adding the object with add-symbol-file.

[2020-05-06 16:19] abrodkin commented on #262
The problem here is due to the fact that we try to determine a CPU type looking at `MULTISUBDIR` variable (`CPU_FAMILY = $(findstring em,${MULTISUBDIR})`, see https://github.com/foss-for-synopsys-dwc-arc-processors/newlib/blob/arc-2018.09/libgloss/arc/Makefile.in#L95) which in its turn gets populated from subdir of multilibbed folder structure. Obviously if we configure with no multilib this `MULT

[2020-05-06 16:29] abrodkin commented on #262
BTW I'm wondering if that UART driver with support of interrupts & exceptions is upstreamable at all, so maybe drop it and forget about that for good since we have QEMU stubs now?

@claziss @shahab-vahedi what's your take on this?

[2020-05-06 16:31] abrodkin commented on #259
@shahab-vahedi  as I mentioned in #262 could you please for now build non-multilib toolchain with the following change?
[code]

This way you'll be unblocked and we'll try to solve 2 orthogonal problems in parallel.

[2020-05-07 17:10] shahab-vahedi opened #267 "[GDB] The "stepi" in arc-linux-gdb misbehaves."
version: `arc-2020.09`

The "stepi" command skip over a few instructions. It looks like it is miscalculation where the next possible instruction will be.

Compare the `arc-elf32-gdb`:
![gdbelf](https://user-images.githubusercontent.com/16524902/81323723-16309c00-9096-11ea-9111-b4e2104c4bb1.gif)

with `arc-linux-gdb` (with an extra warning on qemu side):
![gdblnx](https://user-images.githubusercont

[2020-05-07 17:12] shahab-vahedi commented on #266
might be related to #267

[2020-05-11 10:02] shahab-vahedi commented on #262
@abrodkin The proposed patch does generate `libdw_uart.a` and also put it in the installed directory.

[2020-05-11 10:03] shahab-vahedi commented on #259
@abrodkin with the changes you suggested, I don't run to #262 anymore nor this one. It just builds.

[2020-05-11 10:18] claziss commented on #262
Newlib is partially upstream, there is no answer from those guys to our hails, don't know why. Regarding, libgloss' UART, we can do whatever we want as this library supposedly adds I/O support for various platforms.

[2020-05-11 11:11] abrodkin commented on #262
@Palmyr3 suggests to have very limited UART support in libgloss. In particular only output in polling mode. That will give us much simpler driver which is applicable to any ARC ISA and any platform (when both nSIM & QEMU support DW UART). If somebody needs full serial port with IRQs it makes sense to leave it to him/her to implement it.

[2020-05-11 12:23] claziss commented on #262
That's fine, indeed we don't need to break our backs to get a simple I/O done ;)

[2020-05-12 09:40] shahab-vahedi commented on #259
I cannot reproduce this issue either with our [_rc1_](https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/releases/download/arc-2020.03-rc1/arc_gnu_2020.03-rc1_prebuilt_elf32_le_linux_install.tar.gz) release.

[2020-05-12 10:49] shahab-vahedi commented on #259
The key thing to reproduce this issue is using `\n\r` and only `\n\r` at the end of the string !!!!!!

[2020-05-12 11:30] shahab-vahedi commented on #259
It bugged me why `\n\r` triggers this only. This is my analysis:
Simple `printf` with a new line at the end:
[code]
translates to:
[code]

However, a `printf` like:
[code]
actually pulls in `printf` and not the `puts`. And that opens the Pandora box.

[2020-05-12 12:47] #265 closed

[2020-05-12 12:54] anthony-kolesov commented on #265
Plugin was showing warning because it couldn't properly distinguish between situations of "importing a project for the older version of plugin" and "importing sources with makefile". Commit cb2d320693f2b1ecaca6b105820328a10603eef6 changes behavior, so now it will not show a warning, though now it will also not show it in some cases when it should be. However I've discovered that overall this mecha

[2020-05-12 13:02] shahab-vahedi commented on #259
The missing stubs have been added. It works on my side now. Please confirm if it is fixed for you as well.

[2020-05-12 14:58] abrodkin commented on #259
Seems to work fine now, thanks!

[2020-05-12 15:13] shahab-vahedi commented on #259
Credit goes to @claziss

[2020-05-12 15:13] #259 closed

[2020-05-12 16:47] abrodkin commented on #262
As discussed on OS core-team this one will be documented as a known issue for `arc-2020.03` release and later we'll implement a proper fix in form of polling-mode output only driver.

[2020-05-13 11:56] abrodkin commented on #265
Anyways I guess we may just drop this test-case as we're not going to continuously update that "project" on EmbARC.

@joejohnpaulines are you OK with that?

[2020-05-13 13:52] anthony-kolesov commented on #265
There is no Eclipse project in embARC, so there is nothing to update in it - it is just an Eclipse capability to convert folder with Make and sources into a Project.

[2020-05-13 19:25] shahab-vahedi commented on #267
The divergence between `arc-elf32-gdb` and `arc-linux-gdb` is the existence of `arc_linux_software_single_step()` _gdbarch_ method in the latter:

[code]

`step=1` means going on with hw breakpoints, `step=0` means software breakpoints:
[code]

I still need to unravel how the insertion of breakpoints and `step=0` contribute to this behavior.

[2020-05-14 09:24] shahab-vahedi commented on #267
@anthony-kolesov kindly provided insights on this matter. Here comes the gist of it.

#### TLDR
Use `arc-elf32-gdb` for baremetal applications. This includes debugging the kernel.

#### Reason
The baremetal debugger (`arc-elf32-gdb`) has much more control over the program execution and its data. Among these lies the _hardware single step_. In this way, the debugger asks the server (`qemu`, `openoc

[2020-05-14 09:24] #267 closed

[2020-05-14 09:28] shahab-vahedi commented on #266
@vineetgarc Could you read [the rationale mentioned for the other issue](https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/issues/267#issuecomment-628512896)? If it applied to your case as well, then let's close this issue. If not, this needs an investigation of its own.

[2020-05-28 13:27] abrodkin opened #272 "Add __LITTLE_ENDIAN__ definition in GCC for arc64"
As of today `__LITTLE_ENDIAN__` is not defeined in GCC for arc64:
[code]

Though `__LITTLE_ENDIAN__` is used in quite some existing software so it's good to have it for better compatibility.

[2020-05-28 13:37] abrodkin opened #273 "Add __ARCV3__ definition in GCC for arc64"
It's nice to have a way to refer to both 32-bit & 64-bit ARC ISAv3 CPUs and our suggestion is to use GCC's built-in `__ARCV3__` definition for that. Currently we only define `__ARC64__` which won't work for ARC32:
[code]

While we're discussing ARCv3 it worth to mention that in our existing GCC for ARCompact & ARC ISAv3 we define correspondingly `__ARCHS__`/`__ARCEM` & `__ARC700__` instead of `__A

[2020-05-28 17:19] abrodkin commented on #273
Fixed with https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/commit/93fe6fca7a831153868db10694aa1507362be774

[2020-05-28 17:19] #273 closed

[2020-05-28 17:20] abrodkin commented on #272
Fixed with https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/commit/93fe6fca7a831153868db10694aa1507362be774

[2020-05-28 17:20] #272 closed

[2020-05-28 21:20] vineetgarc opened #274 "[gas] gas need to relax ST a, [b, off] into ST.as a, [b, off/8]"
On ARC ST encodings of form ST a, [b, off]  only take s9 offset. The workaround is to change this into ST.as (if offset is multiple of 4)

A bunch of asm code in kernel ends up longer offsets and thus needs to be fixed up by hand.
The problem is aggravated in ARCv3 (ARC64) where the offsets just double up (pertaining to storage of registers).

It would be very helpful if the assembler does this re

[2020-05-28 21:26] vineetgarc opened #275 "[gas] gas need to relax ST a, [xxx, 0] into ST a, [xxx]"
We have some code of form
ST a, [@global, 0]

gas barfs as "Error: inappropriate arguments for opcode 'st' "

It can simply relax the ST instruction and ignore the 0 offset.

[2020-06-11 22:28] Palmyr3 opened #277 "[gas][arc64] SUBL_S / ADDL_S with SP operand incorrect behavior"
According to ARC64 HLA v1.6, section [4.5.6 Revised 16-bit Encodings for ARC64] the two lowest bit of u9 operand are always zero for SUBL_S / ADDL_S instructions with SP-only registers as SP is always 4 byte aligned. These 2 bits are used to extend u7 operand to u9.

However ARC64 assembler allows addl_s instruction with incorrect u9 operand value, which can't be encoded:
[code]

The subl_s instru

[2020-06-12 08:16] claziss commented on #277
Encodings needed to be checked.

Encoded Instructions | I4| I3|I2|I1|I0 | b2| b1| b0 | i2| i1| i0 | u4 |u3|u2|u1|u0
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --| -- | --| --
LD_S b, [SP, u7] | 1 | 1 | 0 | 0 | 0 | b | b | b | 0 | 0 | 0 | u | u | u | u | u
LDB_S b, [SP, u7] | 1 | 1 | 0 | 0 | 0 | b | b | b | 0 | 0 | 1 | u | u | u | u | u
ST_S b, [SP, u7] | 1 | 1 | 0 | 0 | 0 | b

[2020-06-15 10:11] claziss commented on #277
`addl_s sp,sp,1` is encoded using the `addl_s h,h,limm` format, and not `addl_s sp,sp,u9`. Thus,

[code]

which is correct.

[2020-06-15 10:11] #277 closed

[2020-06-15 19:39] abrodkin commented on #277
@claziss so then it seems to be an incorrect statement in the HLA, right?
Shall we file an internal Jira issue for that?

[2020-06-16 01:32] vineetgarc commented on #277
Depends on where the issue is - is this due to assembler port picking the limm format (whereas it could have used u9) or is it indeed an issue with HLA ?

[2020-06-16 09:20] claziss commented on #277
Doesn't look like an issue to me. It depends what the user wants. In this issue, the user explicitly wrote `addl_s sp,sp,1` which can and is encoded using `addl_s h,h,limm` format. If he will write `addl_s sp,sp,8' then it will be encoded using `addl_s sp,sp,u7` encodings.

[2020-06-16 09:33] claziss commented on #277
Please be aware `u9` is a bit misleading name here. It is actually  encoded in 5 bits, hence, the `u9` immediate is 32-bit aligned. If it is not then, it cannot match the `addl_s sp,sp,u9` encoding. Please check the above encoding table.

[2020-06-16 11:38] abrodkin commented on #277
@claziss I think what confused @Palmyr3 were:
1. How information if put in the HLA. I know that's not PRM yet and probably that's the real issue. Given how sparse explanations are in different sub-sections it might easily lead to such questions. If we had all encoding of `addl_s` in 1 place it would be clear that there're more options
2. `subl_s sp, sp, 1` is not accepted even though I would expec

[2020-06-16 12:38] claziss commented on #277
Yes, HLA is clear, we have `addl_s  h,h,limm` AND `addl_s sp,sp,u9` instructions. Also we have `addl_s h,PCL,limm` variant. If `subl_s` doesn't have exactly the same  variants like `addl` is not a problem of the tools.

[2020-06-16 13:13] abrodkin commented on #277
@claziss I didn't say it's a tool problem, instead I was asking where that problem might be and if in the documentation, it IMHO worth improvement.

[2020-06-16 13:20] claziss commented on #277
I don't really see a problem with HLA regarding this particular problem, but if you feel it is a problem with HLA, then you should ask for improving it.

[2020-06-17 12:28] evgeniy-paltsev opened #278 "[arc64] atomic builtins missing"
When I build any code with atomic builtins (i.e: `__atomic_fetch_and`) for ARC64 I get following error:
[code]

Do we need to pass some specific options to ARC64 compiler to use it?
ARCv2 compiler builds same code without any issues.

How-to reproduce: ([lib-check.c can be found here](https://gist.github.com/Palmyr3/92f12e08c06d909222079ef133836300))
[code]

[2020-06-17 13:07] claziss commented on #278
Atomic operations are not added just yet.
Thanks!

[2020-06-17 13:19] abrodkin commented on #278
@claziss is there any ETA for atomic ops for ARC64?
@Palmyr3 in Zephyr at least I think we may switch to generic atomics implemented in C for now, see `CONFIG_ATOMIC_OPERATIONS_C` (https://elixir.bootlin.com/zephyr/latest/source/kernel/Kconfig#L393).

[2020-06-17 13:25] claziss commented on #278
First we need to get Linux issues flushed out :) I'll update jira with my estimates asap.

[2020-06-17 19:21] vineetgarc opened #279 "[arc64] tools need to support pseudo instructions for ARC64/ARC32"
MOVR - compiles to MOVL on ARC64 and MOV on ARC32
Similarly LDR, STR, ADDR etc
This will help ease porting/migration between ARC64 and ARC32 (and potentially legacy ARC ISA too)

[2020-06-17 19:24] vineetgarc opened #280 "[arc64] gcc not generating call frame info"
currently mdb doesn't show call stack for ARC64 kernel due to missing .eh_frame from "C" code despite -fasynchronous-unwind-tables
FWIW asm code with hand edited .cfi_* seems to work.

There's also jira entry for tracking this: https://jira.internal.synopsys.com/browse/P10019563-41701

[2020-06-17 19:33] vineetgarc commented on #122
FWIW the standard way to terminate call stack is to insert a CFI which marks invalid return register.
e.g. in ARC glibc port we do this

[code]

[2020-06-17 21:11] Palmyr3 opened #281 "[arc64] incorrect endianness when symbol resolving for 'j' instruction"
I'm building ASM code for ARC64 with following instruction, where `_PrepC` is C function name.
[code]

In final binary this instructions turns into:
[code]

In final binary `_PrepC` function is located at 0x00003820 address rather than 0x38200000 which is encoded in jump instruction. Looks like the limm operand is decoded in middle endian for some reason.

<br/>

This happens only on symbol resolv

[2020-06-17 22:15] shahab-vahedi opened #282 "[LD] Erroneous R_ARC_NONE in Relocation"
In this small [example](https://github.com/foss-for-synopsys-dwc-arc-processors/binutils-gdb/files/3766963/r_arc_none_symbol.zip), you see the following output for relocations of `lib.so`:

[code]

There are a few `R_ARC_NONE`s which shouldn't be.

[2020-06-17 23:33] vineetgarc opened #283 "[arc64] [gcc] kernel fails to link with -mcmodel=medium"
ARC64 kernel built with -mcmodel=medium fails to link.
This was due to a shorter S21W relo which was getting out of range in final link.

[code]

[code]

The S21W relos in turn was due to a conditional branch which gcc needs to avoid (in lack of linker relaxation)
[code]

[2020-06-18 05:50] anthony-kolesov commented on #122
CFI are assembler directives, gas converts CFI directives to DWARF CFA opcodes in either `.en_frame` or `.debug_frame` section. User/compiler can either use CFI directives or DWARF CFA opcodes to generate debug information - it is up to them, though CFI is, of course, much more convenient, because it is higher level; but the end result is always CFA opcodes. This issue is about handling of CFA opc

[2020-06-18 06:34] cupertinomiranda commented on #283
This is an in-progress issue.
The relocations were there and Claudiu is looking into this.

Don't know how you have missed it in your grep. :-)

[code]

[2020-06-18 06:42] cupertinomiranda commented on #281
This is hard to believe as a real problem. :-)
Please add attachments of original assembly files.

[2020-06-18 07:28] vineetgarc commented on #122
I understand all that.
As I read it the original issue is related to input (and its implications on objdump/gdb etc)
"The closed source ARC C compiler sometimes emits the .cfa_info 2 dwarf directive"

So if ccac were to stop generating the custom dwarf direcrive (assuming it does so today) then the ensuing problems would be avoided.

[2020-06-18 07:32] vineetgarc commented on #283
NP take your time.

yeah thats weird, the grep output was big and i likely trucate dit on copy/paste - and missed the lone S21 in the zoo of S25 - vision no longer 20/20 ;-)

[2020-06-18 09:24] claziss commented on #281
I have the next example:

[code]

And I use `arc64-elf-gcc example.S` to get the binary.

After the assembly step I get:

[code]
In the final binary, I get:
[code]

As far as I can see, everything is fine. I am waiting for you to provide a simple example showing the issue.

[2020-06-18 10:13] Palmyr3 commented on #281
[Here](https://gist.github.com/Palmyr3/880a5c58410ffa8541c2bb31c82fe3b8) is the preprocessed ASM source file. The instruction I'm talking about is at the end of the file:

[code]

[Here](https://gist.github.com/Palmyr3/faed9d5a1da3a6c18a3878e17342efbb) is the file after assembly step.

[code]

In final binary I have

[code]

Additional toolchain info: toolchain was built from GCC arc64(fa04bf88) b

[2020-06-18 11:51] Palmyr3 commented on #281
I've finally found the rootcause of this. I isn't toolchain issue but the issue with zephyr build.

The build itself was for "elf64-littlearc" but final linkage was for "elf32-littlearc" due to incorrect header include to linker script.

My fault :)

[2020-06-18 11:51] #281 closed

[2020-06-18 12:33] claziss commented on #283
A typo in the code was allowing predicated calls to be generated always. Fixed, please update.

[2020-06-18 12:33] #283 closed

[2020-06-18 15:10] abrodkin opened #284 "Add support for ARC EV processors"
Even though ARC EV is heavily based on ARCv2 ISA due to addition to the scalar unit of a Vector DSP  there're some specifics, for example the following opcodes from ARCv2 ISA are incompatible with Vector DSP: `ldb_s`, `ldh_s`, `ldh_s.x`, `stb_s`, `sth_s` & `bl_s`. Basically we shouldn't generate those if building binary for ARC EV.

I guess we may do it via addition of the yet another `-mcpu` like

[2020-06-18 18:56] vineetgarc commented on #283
Great, kernel now links successfully with medium model and the resulting binary is 10% smaller

[code]

[2020-06-19 10:38] claziss commented on #342
I've pushed a small [patch](https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/commit/57a70f6e161881866634c6324a3da6e170526a4d) that adds  proper DWARF macros. Still need to add EH code.

[2020-06-22 13:27] abrodkin opened #285 "Document %U GNU In-line Assembly modifier"
In some existing in-line assembly code we use  `%U1` opcode modifier like `ld%U1 %0, %1` in the Linux' accessors (see https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/arch/arc/include/asm/io.h#n78):
[code]
Would be good to have a clear documentation on what does that modifier really do.
As per @claziss it is used for `.as` or `.ab`/`.a` flags.

[2020-06-22 13:39] abrodkin commented on #285
For the record PowerPC uses something similar and that what they have in the docs (https://gcc.gnu.org/onlinedocs/gcc/Machine-Constraints.html):

m -  A memory operand. Normally, m does not allow addresses that update the base register. If the < or > constraint is also used, they are allowed and therefore on PowerPC targets in that case it is only safe to use m<> in an asm statement if that asm st

[2020-06-23 05:42] vineetgarc commented on #342
Stack unwinding works now !

[2020-06-24 23:24] vineetgarc commented on #285
FWIW, for ARC64 this is not a documentation issue - but feature missing issue ;-)

[2020-06-25 06:01] claziss commented on #285
I cannot understand what is missing [see](https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/blob/90a22db1ffcb8654690d7207ca3183d5a44b0757/gcc/config/arc64/arc64.c#L973). The 'U' modifier is used in arc64.md in all ST/LD instructions.

[2020-06-25 13:19] abrodkin opened #286 "Add ARCv3 64 & 32-bit mcpu values (hs68 & hs58 correspondingly)"
ARCv3 ISA consists of 2 implementations: for 32- & 64-bit CPUs.
64-bit ARCv3 cores will be called ARC HS6x, while 32-bit ARCv3 cores will be ARC HS5x.
And to be consistent with our current `-mcpu` zoo (see https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/wiki/Understanding-GCC-mcpu-option) we need to have similarly named options for ARCv3.

So as @vineetgarc proposes we should rem

[2020-06-25 13:19] abrodkin opened #341 "Add ARCv3 64 & 32-bit mcpu values (hs68 & hs58 correspondingly)"
ARCv3 ISA consists of 2 implementations: for 32- & 64-bit CPUs.
64-bit ARCv3 cores will be called ARC HS6x, while 32-bit ARCv3 cores will be ARC HS5x.
And to be consistent with our current `-mcpu` zoo (see https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/wiki/Understanding-GCC-mcpu-option) we need to have similarly named options for ARCv3.

So as @vineetgarc proposes we should rem

[2020-06-26 10:23] petrokarashchenko opened #287 "Uncached data access is generated instead of cached for ARC600"
I have next code snippet
[code]
I compile it with next options with toolchain `2020.03`:
[code]
I'm getting next output:
[code]
The issue is that I'm expecting to see both uncached (`stb.di`) and cached (`stb`) access, but only uncached access is generated.

[2020-06-26 12:55] claziss commented on #287
That is a good observation, however, the implementation of this direct access is just a piggyback on volatile flag. Hence, the compiler optimizes the stores (which is correct) into the volatile one.
A work around is to use a very low optimization level like `Og` for this function like this:

[code]
This is a good example which shows us that a proper `uncached` directive implementation should use m

[2020-06-26 19:46] petrokarashchenko commented on #287
@claziss I was just developing code with workaround suggested in https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/issues/246 because I can't use `__attribute__((uncached))` with a full power.
This is one of the findings :) But potentially there might be many "Easter eggs" due to `-mno-volatile-cache`.

Thanks for the hint about `-Os` and `-fdata-sections`. I will read more about `

[2020-06-29 09:03] abrodkin commented on #341
Temporary work-around (https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/commit/9340045f256dadbbf1b68ba9afa16dccaa29c1ee) to accept whatever `-mcpu` user prefers until we get to the agreement on real values we'll set in stone.

[2020-06-29 20:56] vineetgarc opened #288 "[ARC64] objdump erroneously showing BREQL as BREQ"
test case is trivial !

[2020-06-30 11:05] #288 closed

[2020-06-30 11:05] claziss commented on #391
New ARC64 uses the `.T` flag to discriminate between 32bit and 64bit variants of `BBITx` and `BRcc` instructions. Fixed by this commit https://github.com/foss-for-synopsys-dwc-arc-processors/binutils-gdb/commit/233dc4e602c63f25db326e22061c1c81a797e71c

[2020-06-30 21:42] vineetgarc opened #289 "[ARC64] Implement atomic builtins"
various upstream projects rely on this - current arc64 glibc build is failing. I can workaround for now, but consider adding this to tools.

[2020-06-30 23:23] cupertinomiranda commented on #392
I presume that you can reproduce it by attempting to compile your glibc branch.
Otherwise, can list the expected set of atomic builtins ?

I will attempt to collect the list from arcv2 target but might be leaving something out by mistake.
Better would be to list them in the issue. ;-)

[2020-06-30 23:43] vineetgarc commented on #392
Yes this is with my current branch.
As of now nothing is implemented, so you are better off implementing what ARCv2 implements.
BTW ARCv2 also lacks 64-bit atomic builtins, so those need to be added too

[2020-06-30 23:51] vineetgarc opened #290 "[ARC64] gcc to enable __attribute__ ((__access__ x))"
When building glibc with ARC64, there are tons of warnings for above attribute not supported (for gcc >= 10)
That generates too much noise and obscures real issues.
I've hacked an upstream file, but consider enabling it.

[2020-07-01 12:07] claziss commented on #290
I have update gcc to proper gcc10.1 release:
[code]
Please update.

[2020-07-03 10:29] #242 closed

[2020-07-08 15:58] TaikunZhang opened #291 "Installing Plugins"
Keep running into this error when trying to install the plugin in Eclipse.
![image](https://user-images.githubusercontent.com/35281652/86941762-50f49600-c112-11ea-8f31-dfc3cf7f97ab.png)

[2020-07-15 09:43] falaleevms opened #292 "ECR: in arc_legitimize_tls_address, at config/arc/arc.c:6260"
There are two toolchains, built from the same sources (arc-2020.03-release):

- Toolchain that was built with scripts from current repository:
`/slowfs/ru20arcgnu1/gnu_verification/builds/96_10.06.2020_scripts/arc-default-elf32/bin/arc-elf32-gcc`

- Toolchain that was built with crosstool-ng:
`/slowfs/ru20arcgnu1/arcoss_verification/arc-gnu-toolchain/workspace/builds/ct73/arc-multilib-elf32/bin/ar

[2020-07-15 12:31] claziss commented on #292
It looks to me you configured the corss-ng tool to compile with TLS support for baremetal, which is not needed.
You can choose to:
1. pass `--disable-tls`, `--disable-threads` when u configure ur baremetal toolchain.
2. u can use `-mtp-regno=25` or any other register number, if you want to use TLS in bare metal.

Please let me know how does it works.

[2020-07-15 15:56] falaleevms commented on #292
@claziss, thank you! Disabling TLS support for baremetal toolchain helps. I'll close this issue once I launch verification with this change.

Asking to be on the safe side, we still need TLS support for linux toolchain, right?

[2020-07-15 16:12] claziss commented on #292
@falaleevms right

[2020-07-16 15:25] abrodkin opened #293 "__builtin_arc_sr() description is incorrect"
According to the PRM:
[code]

But what we have in GCC (https://gcc.gnu.org/onlinedocs/gcc/ARC-Built-in-Functions.html) is:
[code]

Which is quite in reverse given generated ASM. Though we figured out that problem before and in places where we use `__builtin_arc_sr()` we swapped arguments ourselves. See :
1. Linux: https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/include/soc/

[2020-07-23 20:59] #290 closed

[2020-07-23 23:26] vineetgarc opened #294 "[ARC64] kernel initramfs unpack error with latest gcc"
As of today we only have no mmu - no userspace arc64 kernel which boots but eventually panics when trying to execve init. So it is expected to fail but the pattern is different if we use gcc 10.0 before rebase vs. gcc 10.1.1 + other changes. This could point to a  potential tooling issue:

**gcc 10.0**
[code]

**gcc 10.1.1 + other updates as of today**
[code]

[2020-07-24 00:47] vineetgarc commented on #294
Ok this turns out to be a real issue after all and I'm glad I chased it with kernel rather than with glibc which would have been a nightmare.  It seems in the problem case, unpacking of initramfs is not successful, which is not reported but later causes kernel to not find /dev/root and/or init at all which otherwise would exist and so fail much later.

[code]

@__initramfs_size passed to unpack_to

[2020-07-24 00:54] vineetgarc commented on #294
This seems to be an nSIM issue. The PC-rel load is from right location, but the value returned is NOT right.

[code]

[2020-07-24 00:54] vineetgarc commented on #294
![arc64-pc-rel-load-NOK](https://user-images.githubusercontent.com/1390751/88352135-95d11d00-cd0d-11ea-8f74-cc3fa5bfc1f7.png)

[2020-07-24 06:30] abrodkin commented on #294
For the record it is now tracked internally via `P10019563-42625`.

[2020-07-27 23:01] vineetgarc commented on #294
With nSIM fix this works, not a gcc issue.

[2020-07-27 23:01] #294 closed

[2020-07-27 23:34] vineetgarc commented on #342
After the original fix, dwarf info is now being inhibited (elf toolchain) so we are back to square one. I understand this requires some newlib updates but ARCv2 elf toolchain 2020.03 does have unwind info.

[2020-07-28 19:21] vineetgarc opened #295 "[ARC64/gcc] __builtin_set_thread_pointer() not setting thread pointer"
Found this issue as part of [[ARC64] minimal glibc userspace bringup using MMUv4](https://github.com/foss-for-synopsys-dwc-arc-processors/linux/issues/27)

glibc based busybox was crashing as thread pointer r30/gp was not setup in glibc despite the __builtin_set_thread_pointer(). gcc  was not generating code to setup r30 despite the builtin.
[code]

small testcase
[code]

Claudiu provided a fix th

[2020-07-28 20:33] vineetgarc commented on #389
**Issue 1**: init getting segv as it tried to dereference stack with kernel mode SP
[code]
The issue was slow path TLB Miss handler not setting the Z flag needed to switch the stack correctly in return path. Code was only enabled for ARCV2, which needs to be for ARCV3 as well.
[code]

[2020-07-28 20:36] vineetgarc commented on #389
**Issue 2**: [init segv as thread pointer not set up in glibc, despite __builtin_set_thread_pointer(p)](https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/issues/295)

Workaround as of now is to set the thread pointer in kernel itself during arc_settls syscall.

[code]

[2020-07-28 20:37] vineetgarc commented on #389
**Issue 3**: locale code dereferencing 0

[code]

[2020-07-29 11:11] falaleevms commented on #292
As was written before, disabling TLS support for baremetal toolchain helps.

[2020-07-29 11:11] #292 closed

[2020-07-29 15:03] claziss commented on #295
Patch pushed https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/commit/633c490a7a30fdb6a187baef76ca19243a661540.

Please retry.

[2020-07-30 14:25] abrodkin commented on #291
@TaikunZhang could you please share more details on what is your Eclipse version?

[2020-07-30 14:28] abrodkin commented on #287
@claziss is there anything we might want to do here?
@petrokarashchenko I guess this one is not blocking you, or does it?

[2020-07-30 15:02] claziss commented on #287
Probably a proper fix will slip to the next release.

[2020-07-30 15:02] abrodkin opened #296 "Implement MetaWare Hostlink library"
We used to use so-called "GNU hostlink" for interaction between simulated ARC target & nSIM, see https://github.com/foss-for-synopsys-dwc-arc-processors/newlib/blob/arc-2020.09/libgloss/arc/nsim-syscalls.c. While it does work quite OK-insh with nSIM there're some annoying limitations of that implementation. That's due to the usage of "syscall"-based interface very similar to how user-space applica

[2020-07-30 15:04] abrodkin commented on #287
@claziss do you mean `arc-2021.03`?

[2020-07-30 15:06] petrokarashchenko commented on #287
@abrodkin I think we are looking for https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/issues/246 fix actually. This issue comes as a result of a workaround that we are currently using.
For now we have changed the code to avoid such optimization. But we really looking forward to start using `uncached` attribue.

[2020-07-30 15:35] abrodkin commented on #262
Once we implement "MetaWare Hostlink" (see https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/issues/296) that issue will become irrelevant as we'll be able to use it for any types of targets be it an nSIM, xCAM or even FPGA or real ASIC.

[2020-07-30 19:52] vineetgarc commented on #389
steps to reproduce:

1a. sources: toolchain/gcc/binutils/glibc sources from github, # arc64
1b. Build glibc toolchain: ./configure --prefix=`pwd`/../install-glibc  --disable-multilib --disable-qemu --disable-werror --target=arc64-linux --enable-linux
1d. Add the toolchain/bin to your PATH

2a. tar -zxvf ramfs_2007-arc64-static.tgz   # this is initramfs template
2b. sources: git@github.com:vineetga

[2020-07-30 20:17] vineetgarc commented on #389
[ramfs_2007-arc64-static.zip](https://github.com/foss-for-synopsys-dwc-arc-processors/linux/files/5003618/ramfs_2007-arc64-static.zip)

rename .zip to .tgz

[2020-08-03 09:09] anthony-kolesov commented on #291
Hi @TaikunZhang,

I was able to reproduce the problem and is now discussing the way to fix this with my colleagues.

As a workaround you can do the following:
1. Unzip `arc_gnu_2020.03_ide_plugins.zip`
2. Copy files `plugins/com.arc.embeddedcdt_2019.9.0.202005250525.jar` and `plugins/com.synopsys.arc.gnu.elf_2019.9.0.202005250525.jar` into the `dropins` folder in your Eclipse installation.
3. Rest

[2020-08-04 06:54] claziss commented on #278
Closing it, duplicate of #289

[2020-08-04 06:54] #278 closed

[2020-08-04 06:59] vineetgarc commented on #389
The faltering code involves a TLS variable **_nl_current_LC_CTYPE** which in turn points to a global locale struct.
`__thread struct __locale_data *const *_nl_current_LC_CTYPE = &_nl_global_locale.__locales[0];`

That pointer was evaluating to 0 so the issue could be either the pointer contents were messed up or the pointer address itself was.
**pointer definition**
[code]
**pointer usage**
[code]

[2020-08-04 07:01] claziss commented on #168
Updated storehazard patch https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/commit/5f1e3021dbd5f2a2f1a435cdce246d9fb289aa09. Close this one.

[2020-08-04 07:01] #168 closed

[2020-08-04 07:43] vineetgarc commented on #295
Fixed with the aforementioned commit indeed.

[2020-08-04 07:43] #295 closed

[2020-08-05 18:35] vineetgarc commented on #389
Here's a kernel binary which qemu folks can try:
[vmlinux-200803-userspace-boots-static-busybox.gz](https://github.com/foss-for-synopsys-dwc-arc-processors/linux/files/5030462/vmlinux-200803-userspace-boots-static-busybox.gz)

[2020-08-05 18:43] cupertinomiranda commented on #389
QEmu boot of this image:

[code]

[2020-08-07 00:10] vineetgarc opened #297 "[ARC64] build linker segv when created shared lib with __thread vars"
binutils: 2020-08-03 5d9e4d103816 ARC: enable runtime debugging
gcc: 2020-07-29 f470b90af0b3 arc64: fix tls detection in assembler

**test case:**
[code]

[code]

[2020-08-07 12:31] claziss commented on #297
It looks the change from `TCB_SIZE(8)` to `TCB_SIZE(16)` causes some problems, probably because of some still remaining 32 bit code.

[2020-08-08 03:42] vineetgarc commented on #388
Attached the src/asm files : my annotation in src are with '==='
[rtld.zip](https://github.com/foss-for-synopsys-dwc-arc-processors/linux/files/5044585/rtld.zip)

[2020-08-10 10:59] cupertinomiranda commented on #388
I still do not know how to build rootfs and linux image, without buildroot. Never did it.
Also, does busybox needed any patches to build for ARC64.

[2020-08-10 14:10] claziss commented on #388
The constant pool is generated because we do not accept `SYM + CONST_INT` type of constants yet.

[2020-08-10 17:33] vineetgarc commented on #388
if there is no quick fix, is there a workaround I can try to make progress - any specific toggle ?

[2020-08-10 17:47] cupertinomiranda commented on #388
Testing it now. Claudiu has a patch that "disables" the constant pooling, but I still believe there is something else in code that might allow the compiler to make that mistake.

We should speak later such that you remind me a little bit this dl_start process. I was able to build linux and now am able to debug with dwarf info ld.so in qemu.

[2020-08-11 13:34] claziss commented on #297
@vineetgarc your commit  https://github.com/foss-for-synopsys-dwc-arc-processors/binutils-gdb/commit/5d9e4d103816f706e56459a66d52463afbacdc20 is causing this problem in one of the DEBUG/PRINT routines. My recommendation is to revert that patch. Thanks.

[2020-08-12 00:58] vineetgarc commented on #388
Ok so there was a *lot* of progress on this today with fixes in all possible components of software stack: gcc, binutils, glibc, linux kernel

1. Claudiu added a binutils fix to emit GOT entries aligned to 64-bits
2. Cuper added a binutils fix (which would have hurt us later) to promote R_ARC_64 relocs to R_ARC_RELATIVE - when they can't be fixed up in say text section.

[2020-08-12 01:25] vineetgarc commented on #388
**Issue # 3: Bus error in ldso (kernel bug)**

[code]

The issue showed up when an successful mmap() memory is eventually memset(). The backing memory implementation
shmem_fault () -> shmem_getpage_gfp() was aborting since the faulting offset was larger than size of file itself.

mmap core deals with page indexes (for map offset). In 32-bit system, glibc does that already (due to historic limiatat

[2020-08-12 01:29] vineetgarc commented on #388
**Issue # 4: glibc ldso reading .got.plt address from wrong location**
Next issue was in glibc: elf_machine_runtime_setup where **r17: 0x20200aa8201e5f0b** has absurdly large value

[code]
There was a snafu where we were reading 10th byte in PLT0 instead of 20th byte for address of .got.plt

Fixed with [glibc: ARCv3: ldso: fix address of .got.plt embedded in .plt ](https://github.com/foss-for-syno

[2020-08-12 01:55] vineetgarc commented on #388
**Issue # 5:**

[code]

[2020-08-12 07:15] vineetgarc commented on #388
So **issue # 5** this was a snafu in glibc: __start() where SP was adjusted by 4 and not 8
There was also issue of use of r13 for safe keeping while per ABI it is not a callee-reg anymore
[glibc ARCv3: fix __start ](https://github.com/foss-for-synopsys-dwc-arc-processors/glibc/commit/8c6bd7fb859728009465b0e07c90415a0b8feca7)

[2020-08-12 07:21] vineetgarc commented on #388
**Issue # 6**: finally application main starts to run but jumps off to bogus location

[code]
This was first ever lazy resolution and first use of PLT. And lo behold the code for PLT0 was wrong (due to a copy-paste snafu)
[code]

It needed to be
[code]

Apparently this was a copy-paste bug in binutils

[binutils:arc64: fix snafu in PLT0 code ](https://github.com/foss-for-synopsys-dwc-arc-processor

[2020-08-12 07:22] vineetgarc commented on #388
Still no joy, the code is currently looping in some code - will take a look tomorrow.

[2020-08-31 08:02] petrokarashchenko commented on #246
@claziss is there any chance to get this issue fixed in `2020.09` release?
Meanwhile, I've done some communication with the community trying to discuss the point that I found in `adjust_address_1` implementation. I've sent a patch to GCC community and made some discussion. I pointed to how currently `uncached` attribute is processed using
[code]
and got next comment from Richard Sandiford:
Just a

[2020-09-01 19:34] abrodkin opened #298 "uClibc-ng 1.0.34 broken on Linux kernel 4.19.136"
As reported by @wbx-github with uClibc-ng 1.0.34 on Linux kernel 4.19.136, gcc 9.3.0 and binutils 2.35.
Platform used initially for reproduction is HSDK, though it worth testing on nSIM as well.
[code]

With kernel 5.4.53 it just hangs on this line here:
[code]

Attached is initramfs used (originally from https://debug.openadk.org/initramfs_data.cpio.xz).
[initramfs_data.cpio.gz](https://github.co

[2020-09-28 21:19] vineetgarc opened #300 "kernel allmodconfig build (-mbig-endian) failing due to invalid MPY instruction"
This was reported @ http://lists.infradead.org/pipermail/linux-snps-arc/2020-September/004215.html
[core.i.gz](https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/files/5295114/core.i.gz)

kernel allmodconfig build (which also enables -mbig-endian) is failing.

Confirmed with upstream gcc 9.3 as well as 2020.09 based local build.

arc-linux-gcc -c -O2 -mbig-endian sched.i

[2020-09-30 02:44] StevenWu851013 opened #301 "make: ccac: Command not found"
I have some problem when I try to make the file, the terminal says that
make: ccac: Command not found
make: *** [Makefile:261: tensorflow/lite/micro/micro_interpreter.o] Error 127
Is that the Metaware ARC C/C++ Compiler not installed?
But I have already installed the arc_gnu toolchain, can anyone help me?

[2020-09-30 17:36] claziss commented on #301
For the Metaware ARC C/C++ Compiler u need to get it through Synopsys official channels.
ARC_GNU toolchain only provides u the GNU (gcc) compiler toolchain.

[2020-09-30 19:43] jcampbel commented on #301
Hi @StevenWu851013
Currently, the ARC backend for TensorFlow Lite for Microcontrollers only supports the MetaWare compiler, as documented [here](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/micro/tools/make/targets/arc).  That page also provides instructions on how to get access to evaluation versions of MetaWare tools.
I hope this helps,
Jamie

[2020-10-03 01:42] StevenWu851013 commented on #301
Thank you guys! I understand!

[2020-10-03 01:42] #301 closed

[2020-10-09 08:10] claziss commented on #300
Patch sent to [gcc mailing list](https://gcc.gnu.org/pipermail/gcc-patches/2020-October/555695.html)

[2020-10-16 06:28] wbx-github commented on #298
Seems no toolchain issue so far, but a kernel issue.

This commit in linux/stable breaks it:

[2020-10-17 18:12] vineetgarc commented on #298
Indeed that kernel commit is the culprit, it breaks EV_Trap in sublte way: working on fix !

[2020-10-19 20:05] vineetgarc commented on #298
So here's the issue:

The bisected commit  [00fdec98d9881bf517](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/arch/arc/kernel/entry.S?id=00fdec98d9881bf5173af09aebd353ab3b9ac729) was merged upstream in v5.8 and also marked for stable backport.

In on itself this commit is not faulty, and that is the reason our in-house regressions didn't trip since it was merged in July

[2020-10-19 20:16] vineetgarc commented on #298
To capture the technical details: the issue was Low level trap handler, which is the entry point for syscall and breakpoint Traps, getting borked due to register r9 getting clobbered. r9 has ECR (Exception Cause Register) used to decide to whether to dispatch trap as syscall or breakpoint. Due to the bug all syscalls were erroneously handled as breakpoints.

**Orig Code**
[code]
**Backport NOK**
[

[2020-10-20 11:59] abrodkin opened #304 "GCC: allow to specify FPU during configuration with "--with-fpu""
Selection of an FPU to be used by the GCC on some architectures is done with GCC's `--with-fpu` configuration option which allows for flexibility: multiple types of FPU might be supported (as opposed to binary toggle like `-mfloat-abi={soft|hard}`).

Apparently that option is not supported by GGC for ARC:
[code]

[2020-10-20 18:01] vineetgarc commented on #304
And while at it, please also consider supporting canonical **--with-float=hard**.
Currently we get

[code]

[2020-10-21 13:18] claziss commented on #304
I have added `--with-fpu` configuration option. It does check if fpu option used is compatible with the selected cpu.

Patch here https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/commit/eea22f55a64aebc63563aad41046426f12e66b74

[2020-10-21 13:18] #304 closed

[2020-10-21 13:23] claziss commented on #304
We don't have a valid option to map if the floats are hard or not, as opposed to ARM. In the arm case a hard/soft float may change the ABI.

[2020-10-21 13:48] abrodkin commented on #304
@claziss may we have that improvement posted upstream?

[2020-10-21 16:04] vineetgarc commented on #304
I suppose this would be needed for arc64 fpu support where we could have the different ABIs ?

[2020-10-22 10:05] abrodkin commented on #246
Hi @petrokarashchenko sorry for not solving this in 2020.09 as this one doesn't seem as a low-hanging fruit.
Moving to the next release with hope to spend more time on that looking forward.

[2020-10-22 10:06] abrodkin commented on #264
Hi @petrokarashchenko sorry for not solving this in 2020.09 as this one doesn't seem as a low-hanging fruit.
Moving to the next release with hope to spend more time on that looking forward.

[2020-11-06 03:25] vineetgarc opened #308 "[glibc] Optimize memcopy to Improve EEMBC Network 2.0 ip_reassembly / nat"
glibc memcpy showed as top hotspot when profiling EEMBC network 2.0 specifically in 2 sub-tests

[code]
[code]
ARC glibc port uses the generic implementation of memcpy/memset which are already decentbut can be optimized for ARC with
- unaligned access
- Double load/store
- any other arch specific helpers such as clz etc.

[2020-11-06 03:46] vineetgarc opened #309 "[gcc] peephole2 to generate double load/stores not kicking in upstream ARC gcc - optimize LMBench bw_mem frd/fwr"
LMBench memory bandwidth tests frd() and fwr() access consecutive 512 bytes to compute memory subystem bandwidth.

[code]
At -O2 the normal (boring) generated code use regular **ST** instructions (both upstream gcc, GNU 2020.03)
[code]
At -Os, gcc from github fork enables **store merging**, coalescing 2 consecutive word store **ST** into a single **STD** double store

[code]
**This improves Memory

[2020-11-06 08:53] claziss commented on #309
Yeah, my speech about custom Vs mainline. The store merging is done with the help of the mod which I did in upstream, and, probably it will not be in until I don't find another architecture which will benefit from it.
LATE EDIT: I'll check if I can make it to work without that hack ;)

[2020-11-06 20:32] vineetgarc commented on #298
[Oct 19] email sent to stable list to apply the revert [Revert "ARC: entry: fix potential EFA clobber when TIF_SYSCALL_TRACE"](http://lists.infradead.org/pipermail/linux-snps-arc/2020-October/004348.html)
[Nov 6] Pinged stable list

[2020-11-10 15:08] abrodkin opened #310 "Error: operand is not duplicate of the previous one for instruction 'adc' [-fno-strict-overflow]"
Attached pre-processed file [remap_range.i.gz](https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/files/5518168/remap_range.i.gz) (note it is compressed as GitHub refuses to accept `.i` files), then:
[code]

That problem happens with GCC 10.2 (at least we see it with pre-built arc-2020.09 toolchain and with vanilla GCC 10.2 from Buildroot-built toolchain) and Linux kernel staring fr

[2020-11-11 11:17] claziss commented on #310
fixed by this commit: https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/commit/09944fba5bfb8e5543ce043c70d08222cf2f97ff

[2020-11-12 17:58] vineetgarc commented on #298
The fix is now merged mainline to stable trees: v4.19.156

2020-10-19 259041122077 Revert "ARC: entry: fix potential EFA clobber when TIF_SYSCALL_TRACE"

[2020-11-12 17:58] #298 closed

[2020-11-12 20:17] vineetgarc commented on #310
FWIW this issue is relevant for both -mcpu=arc700 and -mcpu=hs38 but not for -mcpu=hs4x likely due to scheduling of instructions

[code]
[code]
[code]

[2020-11-12 20:42] abrodkin commented on #310
@claziss may we get this one into upstream GCC 10.x as it is affected as well and I guess there will be at least 10.3 release before we switch to 11?

[2020-11-13 07:43] claziss commented on #310
After I see the results of the testing, I'll start pushing it :)

[2020-11-20 17:44] falaleevms opened #311 "Hackbench time equals exactly 1 second after rt-tests package update"
From this [hackbench.log](https://github.com/foss-for-synopsys-dwc-arc-processors/linux/files/5575157/hackbench.log) you can see that we have launched hackbench 15 times and time always was exactly 1 second. I started to observe such results after buildroot rebase on top of the master branch ([2020.05-2290-gd00b6c7864](https://gitsnps.internal.synopsys.com/arc_oss/verification_automation/buildroot

[2020-11-23 20:16] vineetgarc commented on #311
This is not related to Linux kernel version as I can reproduce it on 5.7 as well. Moreover running strace shows that Linux kernel is returning the right values.

[code]
I tried a bunch of old toolchains (and corresponding ramfs to test)
OK:	ramfs_1907-GNU-2019-03-glibc-tiny
OK:	ramfs_2007-GNU-2020-03-glibc-tiny
OK:	ramfs_2007-GNU-2020-03-glibc-hf-tiny
NOK:	BR/gcc-upstream-hf-hs4x/target-tiny
NOK:

[2020-11-23 20:16] #311 closed

[2020-11-25 07:20] abrodkin commented on #311
@vineetgarc are you going to submit that fix to the RT-Tests? As of today they still don't have it, see https://git.kernel.org/pub/scm/utils/rt-tests/rt-tests.git/tree/src/hackbench/hackbench.c?h=v1.9-test#n512.
Also it IMHO worth adding the same fix to the Buildroot here https://git.buildroot.org/buildroot/tree/package/rt-tests so that we start getting sane results in the reports.

[2020-11-25 18:04] #291 closed

[2020-11-25 23:30] shahab-vahedi opened #312 "[GDB] break.exp test fails"
### Problem
Within the `arc-2020.09` toolchain, the `gdb.base/break.exp` test fails:

[code]

This happens, because nSIM raises an exception:
[code]

### Reproduction
See attached:
[gdb-break-issue.zip](https://github.com/foss-for-synopsys-dwc-arc-processors/binutils-gdb/files/5599663/gdb-break-issue.zip)

### Solution
Add `-prop=nsim_isa_ll64_option=1` flag while running nSIM.

[2020-11-26 19:11] falaleevms commented on #312
Yes, I was looking for how options for nsim are defined and ended up in file that Anton pointed below.

[2020-11-26 20:06] shahab-vahedi commented on #312
Since this was handled already, I will close this issue then.

[2020-11-26 20:06] #312 closed

[2020-11-27 12:06] abrodkin opened #313 "Some libstdc++ DejaGNU tests fail if libstdc++ built w/o optimization"
Toolchain: arc-2020.09, Elf32.

Test body:
[code]
Build it with pre-built arc-2020.09 elf32 toolchain: `arc-elf32-g++ -mcpu=archs -std=gnu++2a --specs=nsim.specs`
Execute with nSIM:
[code]

Now re-build libstdc++ with `-O0` like that (in gcc's top-level source folder):
[code]

Re-build the test pointing to newly built `libstdc++.a` location like that: `arc-elf32-g++ -mcpu=archs -std=gnu++2a --spec

[2020-12-15 12:58] L-leopold opened #314 "BUG: scheduling while atomic"
Hello!
when I was running my own project in HSdk board,  especially loading the weight file, the board system crashed like the picture show:

![2af1b7520394e907b2307a7c9bdf1e4](https://user-images.githubusercontent.com/64076445/102217791-13453600-3f18-11eb-8930-83080e93e32e.jpg)

sorry ,I do not know the reason ,please help  me.
Thank you.

[2020-12-15 13:59] VVIsaev opened #315 "Unable to copy value from uncached struct with -O1/2/3"
Following code prints `FAIL` when executed using nsim:
[code]
Compilation string:
`arc-elf32-gcc -mcpu=hs -O1 --specs=nsim.specs main.c -o main`
Nsim string:
`nsimdrv -prop=nsim_isa_family=av2hs -prop=nsim_isa_core=1 -prop=nsim_emt=1 ./main`

Failure is reproducible with ARC GNU Toolchains 2020.09-1, 2020.09, 2020.03.
ARC GNU Toolchain 2019.09 works correct.

Disassembly of `test_struct_copy()` fo

[2020-12-15 14:05] VVIsaev commented on #296
Caught #315 when working on this.

It happens when I try to copy from uncached Metaware Hostlink stat structure to newlib-defined `struct stat` in fstat() implementation.

[2020-12-15 17:09] vineetgarc commented on #314
For us to investigate the issue and help, please provide details about
1. Linux kernel - version, .config, is this pristine upstream or does it have any changes from you
2. GNU toolchain version
3. Build system: Buildroot vs. toolchain scripts
4. Test case which triggers this and possibly the kernel image which triggers this

[2020-12-17 00:36] L-leopold commented on #314
Hello！
1.Linux kernel - version, .config, is this pristine upstream or does it have any changes from you：
I use Prebuild Linux Distribution for ARC HSDK 2018.01   ubuntu  linux
2.GNU toolchain version
I use  this ：
https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/releases/download/arc-2018.09-release/arc_gnu_2018.09_prebuilt_uclibc_le_archs_linux_install.tar.gz
to compile my proje

[2020-12-17 01:49] vineetgarc commented on #314
For start enable debug of fata signals - that will give some hint as to what is going on.
echo 1 > /proc/sys/kernel/print-fatal-signals

Then try debugging your application using gdb to see why it is segfaulting (is it running out of memory - is a malloc failing).
We don't know about your application so it is hard to say where the problem could be.

Does your application need more than 1 GB of mem

[2020-12-17 02:53] L-leopold commented on #314
Thank you sir ！ I will check them ,and use gdb to debug it.
The log shows like this:
![7a97a52f2bc99861f1e83d01cb8fa0b](https://user-images.githubusercontent.com/64076445/102437747-02024380-4056-11eb-9a98-816d7d844a1e.jpg)

Sir ,since the default is 1GB, how to open all 4GB for use？
And ，I want  to know HS4x whether 1GB memory is used by default ，will I meet the same problem when I am using HS4x b

[2020-12-17 02:55] L-leopold commented on #314
Yes ,when I run the YOLOv3 network , the PC shows it needs 2GB memory at least.
Thank you sir!
Thank you for your explanation.

[2020-12-17 10:07] claziss commented on #314
@L-leopold any reason why you use the 2018 release? I would recommend using our latest 2020.09 release.

[2020-12-17 11:05] L-leopold commented on #314
Well, this question is that  I can not run the Openmp with 2020 release. I originally planned to report this bug to you after running a YOLO version. Since you asked, I will tell you about this problem. I use the following steps:
1. git clone https://github.com/lapesd/libgomp.git
2. cd libgomp/src/libgomp/build
3. ../configure -host=arc-linux CC=arc-linux-gcc CXX=arc-linux-g++ -disable-multilib
4.

[2020-12-17 11:54] claziss commented on #314
@L-leopold please make a new issue on the libgomp subject. Thanks!

[2020-12-17 12:10] L-leopold opened #316 "How to use 4GB memory of HS38 board?"
**Well, here is the new issue.**
The reason why I did not  use release 2020  is that  something wrong in compiling Openmp.

  I originally planned to report this bug to you after running a YOLO version. Since you asked, I will tell you about this problem. I use the following steps:

git clone https://github.com/lapesd/libgomp.git
cd libgomp/src/libgomp/build
../configure -host=arc-linux CC=arc-lin

[2020-12-17 12:10] L-leopold commented on #314
Ok sir ,I will  close this issue  , thank you .

[2020-12-17 12:11] #314 closed

[2020-12-17 12:28] abrodkin commented on #314
@L-leopold let me try to explain specifics of memory usage on ARC processors and implications on the Linux and applications on top of it.
1. For ARC processors with MMU (such as ARC HS38 & HS48) only 2 GiB of entire 32-bit (i.e. 4 GiB) address space is used for user-space applications, i.e. only addresses from 0 to 0x1fff_ffff are being translated by the MMU.
2. That in theory limits amount of mem

[2020-12-17 13:39] abrodkin commented on #316
@L-leopold why do you use this repo https://github.com/lapesd/libgomp which contains some "enhanced implementation of LibGOMP" which is basically a fork from the original GCC's libgomp made 4 years ago and with some questionable "improvements" on top... with last change done almost 3 years ago?

If you try to build original GGC's libgomp from here: https://github.com/gcc-mirror/gcc/tree/master/lib

[2020-12-17 13:40] abrodkin commented on #316
And see my explanation of memory-related questions here: https://github.com/foss-for-synopsys-dwc-arc-processors/toolchain/issues/314#issuecomment-747409973

[2020-12-17 14:21] L-leopold commented on #314
@Alexey Brodkin
Thank you for your explanation .And I am sorry about this problem .
Although I do not seek for " Out Of Memory killer " ,it actually is lack of memory.
Because when I run my network(tiny version) In PC ,it needs at least 1G memory.
Could you please tell me how to re-build the kernel to add another 750M .I think 1.5GB is enough.
THANk you sir!

At 2020-12-17 20:28:31, "Alexey Brodki

[2020-12-17 14:33] abrodkin commented on #314
I'm not sure how strict is that requirement and if it exists at all but unless you don't see OOM (Out-Of-Memory) killer being executed your memory utilization shouldn't be a problem. Can you get your test or application running in your current situation or not?

Let's first figure-out what's going on in your system first and then we'll see how to improve the situation.

[2020-12-18 00:54] L-leopold commented on #314
@abrodkin  OK sir . I will learn  how to  use gdb(sorry for the use of this tool, I am still a novice）.
Maybe you are right , the following is memory usage:
![b361455cc33e23562ad4c333afe5feb](https://user-images.githubusercontent.com/64076445/102560951-726c9b80-410e-11eb-888f-6000675c511d.jpg)
I will check the log as soon as possible, then come back.
Thank you for your explanation.

[2020-12-18 03:53] L-leopold commented on #316
@abrodkin  Thank you for your patient reception.

I saw the https://github.com/gcc-mirror/gcc/tree/master/libgomp
why I use the old version of libgomp is I found a Blog here:(if you can visit Chinese website)
https://blog.csdn.net/ACMore_Xiong/article/details/79533658

and  the website you give  is a little complex , I still can not figure out how to compile openmp with  arc-linux-gcc or something

[2020-12-18 17:05] abrodkin commented on #316
So do we need to do anything else here or this one might be closed as well?

[2020-12-19 01:18] L-leopold commented on #316
@abrodkin  Thank you sir.
**I really wish to know how to change the kernel to extend to 1.5 GB .**
Because though I can not give you a bug report, my teacher and I unanimously believed that the compiler put some variables in a space other than 1GB when compiling, resulting in some variables not being found when loading the program.
Because when I ran YOLOv3 network, which is a CNN, segmentation fa

[2020-12-19 01:21] #316 closed

[2020-12-21 08:59] abrodkin commented on #310
For the record, the fix is now in upstream `master` brach (to become 11.x): https://gcc.gnu.org/git/?p=gcc.git;a=commit;h=dfbe642c97f7f430926cb6b33cd5c20b42c85573

@claziss may we have it cherry-picked into `releases/gcc-10` branch so that we get it in v10.3 whenever it happens?

[2020-12-21 11:39] claziss commented on #315
I have a proposed fix here:
https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/commit/46a1bdf5c54bfd4159c8257da73e603271b0370c

Please let me know if you have extra issues, otherwise, please close this thread.

[2020-12-21 13:22] abrodkin opened #317 "gcc.target/arc/add_n-combine.c fails with ARC-2020.09"
The following DejaGnu test (https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/blob/arc-2020.09/gcc/testsuite/gcc.target/arc/add_n-combine.c) of GCC fails with `arc-2020.09` toolchain this way:
[code]
because only `add3` instruction of expected (`add1`, `add2`, `add3`) set is generated.
[code]

With `arc-2020.03` .. `arc-2018.03` we see `add2` & `add3` generated (note `add2` in addition t

[2020-12-21 13:45] abrodkin opened #318 "gcc.target/arc/loop-3.c fails"
The following DejaGnu test (https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/blob/arc-2020.09/gcc/testsuite/gcc.target/arc/loop-3.c) of GCC fails with arc-2020.09 toolchain this way:
[code]

In the test we expect to find `bne.d @.L2` for ARC600 & ARC700 while  `bne_s @.L2` for al lthe rest:
[code]

But what we get is quite the reverse:
[code]

[2020-12-21 13:51] abrodkin opened #319 "gcc.target/arc/uncached-7.c fails"
The following DejaGnu test (https://github.com/foss-for-synopsys-dwc-arc-processors/gcc/blob/arc-2020.09/gcc/testsuite/gcc.target/arc/uncached-7.c) of GCC fails with arc-2020.09 toolchain this way:
[code]

[code]

With `arc-2020.03` it passes:
[code]

[2020-12-21 16:09] abrodkin opened #320 "Small-data doesn't work well with multiple GCC's DejaGnu tests"
With `arc-2020.09` used as a source of tests as well as pre-built compiler (at least for `-mcpu=archs`) the following tests fail due to use of "small data" section:
[code]

Here's what might be found in `gcc.log`:
[code]

And addition of `-mno-sdata` solves that problem, not sure though if that's reasonable enough fix or we really want small data to be used here.

[2020-12-22 12:11] VVIsaev commented on #315
I've checked dev build and issue is fixed. Thank you!

[2020-12-22 12:11] #315 closed

[2021-01-06 21:09] vineetgarc commented on #310
@claziss - can thi sbe backported to gcc-10 - which is broken ATM due to this.

[2021-01-07 10:57] claziss commented on #310
5aeabae7f0c (HEAD -> releases/gcc-10, origin/releases/gcc-10) arc: Refurbish adc/sbc patterns [Claudiu Zissulescu]

[2021-01-12 19:48] vineetgarc commented on #400
This may not be glibc related [see CONFIG_HARDENED_USERCOPY detects kernel memory overwrite attempt to kernel text](https://github.com/foss-for-synopsys-dwc-arc-processors/linux/issues/15)

Try disabling CONFIG_HARDENED_USERCOPY in kernel config

[2021-01-12 20:23] abrodkin commented on #400
Well, tried to disable `CONFIG_HARDENED_USERCOPY` and got another failure, so maybe previously caught thing was correctly hinting on an issue:
[code]

FWIW here's the disassembly of the failing code:
[code]

[2021-01-12 20:34] vineetgarc commented on #400
No they are unrelated - i see same failure as first even with mainline 5.11-rc3 + HARDENED_COPY with otherwise perfectly fine booting userspace. Anyways lets not cross post issues - the one u post is THE problem with glibc and needs to be investigated further

[2021-01-22 11:31] #310 closed

[2021-01-22 11:34] #300 closed

[2021-01-22 11:51] claziss commented on #235
Probably the solution is to add to the link command also the *libmwcl.a* which implements the missing functionality.

[2021-01-22 11:53] claziss commented on #231
Having the new mwdt hostlink libgloss may be a solution.

[2021-01-22 11:58] claziss commented on #175
These errors are related to *ARC700* floating point division implementation in libgcc.

[2021-01-22 12:03] claziss commented on #159
Not sure if this issue still needs to be kept open. Please react if you don't want this thread to be close. Thank you.

[2021-01-22 13:03] claziss commented on #81
gcc 4.x.x is no longer supported, please use newest arc's gcc. Please react if you don't like this issue close.

[2021-01-22 14:52] vineetgarc commented on #300
@claziss can this be stable backported please !

[2021-01-22 17:16] claziss commented on #300
didn't I pushed there too? let me check, otherwise, I will add it to gcc10 as well

[2021-01-22 18:30] abrodkin commented on #231
Indeed, https://github.com/foss-for-synopsys-dwc-arc-processors/newlib/pull/14 should fix this.

[2021-01-22 20:22] vineetgarc opened #336 "[ARC64] [gcc] generate 64-bit DIVL / REML instructions"
Gcc currently doesn't generate 64-bit DIVL, DIVUL, REML, REMUL instructions (unlike mpy64 these are not codegen at all).
These instructions are baseline so can be supported unconditionally.

Excerpt from HLA:
[code]

[2021-01-25 07:37] claziss commented on #336
Please use `-mdiv-rem` to generate those instructions.
@shahab-vahedi  we need support for them in qemu.

[2021-01-25 10:09] claziss commented on #300
Pushed to gcc10

[2021-01-26 10:09] claziss commented on #320
SDA access is done using short offsets which will lead, sometimes, to such errors. The practical approach is to turn off the SDA feature using `-mno-sdata` option.

[2021-01-26 10:16] cupertinomiranda commented on #282
I will make a pull request with 2 commits that at least reduce number of erroneous ARC_NONE relocations.
I will need that pull request to be used to fully execute dejagnu and glibc testsuite on an HSDK before I can consider it to be merged.

This is one of those fixes that never seems to get pulled in.
BTW, dejagnu on Linux HSDK should not take more then 2h of HSDK time.

[2021-01-26 10:43] cupertinomiranda commented on #388
Can we close this ?

[2021-01-26 10:44] claziss commented on #392
Atomic ops are supported by ARC64 compiler and binutils.

[2021-01-26 11:03] claziss commented on #319
This require a proper implementationof `unchahed` attribute.

[2021-01-26 11:06] cupertinomiranda commented on #320
This should be filtered out once we integrate the counting/filtering scripts in verification.
This is more of an issue to the verification then to the toolchain.

@abrodkin Can you move this somewhere else ?

[2021-01-26 11:28] #229 closed

[2021-01-26 12:00] #159 closed

[2021-01-26 12:01] #81 closed

[2021-01-26 12:02] claziss commented on #113
This issue looks like it is resolved (somehow), if you still see an issue please reopen it.

[2021-01-26 12:02] #113 closed

[2021-01-26 12:03] claziss commented on #146
Is this an issue, can we close it?

[2021-01-26 12:05] claziss commented on #127
It seems the issue is fixed (somehow). Please reopen it if you consider otherwise.

[2021-01-26 12:05] #127 closed

[2021-01-26 13:34] anthony-kolesov commented on #146
There is, probably, some performance issue here, but there are no customer  requests to fix this though.

[2021-01-26 14:02] abrodkin commented on #146
Indeed, I'd close this one because:
1. That's a very unusual corner case and there're other approached to do that same thing on HAPS especially.
2. Reporter has left the company a couple of years ago and so we won't get any details on what was being done, why and if it still makes any sense.
3. If we're up to looking into it we'd need precise instructions for reproduction which are missing in this

[2021-01-26 14:02] #146 closed

[2021-01-26 19:41] abrodkin commented on #240
As per on of the latest Linux verification executions on HSDK we're seeing 409 passed, 76 failed & 13 skipped tests.
All results are available here: http://de02-resultsdb:8080/result.php?Project=28&pkey=12027.
Not sure though if we're willing to spend resources on this one anytime soon.
@vineetgarc should we just close it now in a hope to get back to it later?

[2021-01-26 20:56] abrodkin commented on #282
I guess that's the PR @cupertinomiranda has meant: https://github.com/foss-for-synopsys-dwc-arc-processors/binutils-gdb/pull/52.

[2021-01-26 21:01] abrodkin commented on #181
@fbedard do we really need this? I was under impression that EMSK's FPGA was never meant to be programmable by a end-user. Moreover the board comes bundled with a couple pre-programmed .bit-files so that customers may chose the one which matches his or her needs the best.

[2021-01-26 21:08] abrodkin commented on #174
Still happens in 2020.09. @claziss if that's a low-hanging fruit, can we mark it for 2021.03?

[2021-01-26 21:09] abrodkin commented on #173
Still happens in 2020.09. @claziss if that's a low-hanging fruit, can we mark it for 2021.03?

[2021-01-26 21:13] abrodkin commented on #170
That behavior seems to not get in the way for current active users of this script, so I'm closing it now. If for anybody that becomes a problem later, we'll get back to it.

[2021-01-26 21:13] #170 closed

[2021-01-26 21:29] abrodkin commented on #92
@maikelmeyers @drrll do you still have any questions or problems regarding this issue or we may close it for now?

[2021-01-26 22:20] fbedard commented on #181
No, no longer needed.  Closing.

[2021-01-26 22:20] #181 closed

[2021-01-27 22:23] vineetgarc commented on #388
Yeah this is long fixed and the workaround to use -fPIC for executable builds is not needed either.

[2021-01-28 11:06] shahab-vahedi commented on #188
[arc: Add ARCv2 XML target along with refactoring](https://sourceware.org/git/?p=binutils-gdb.git;a=commit;h=995d3a197d7)

[2021-01-28 11:06] #188 closed

[2021-01-28 11:08] shahab-vahedi commented on #266
I think this problem is not existing anymore. @vineetgarc feel free to re-open if you have more details.

[2021-01-28 19:09] vineetgarc commented on #240
So just for the record, per Alexey's link above the 76 failures are below
gcc: arc-2020.09-release
binutils:arc-2020.09-release
uClibc: ?
linux: 5.1-rc4
build: -mcpu=archs

Nothing seems out of ordinary and given we are de-emphasizing uClibc, we could close this.
[code]